
{% extends "layouts/main.html" %}

{% block pageTitle %}
Sprint 19 index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Usability Testing home page
      </h1>

      <h2 class="govuk-heading-m">Current testing versions</h2>

        <p><a href="https://www.support-disability-healthconditions-atwork.dwp.gov.uk/support-and-manage-disabled-employees-and-employees-with-health-conditions-at-work"  target="_blank">Service start page</a></p>

        <p><a href="prototype-A/com-g6" target="_blank">Continue buttons</a></p>

        <p><a href="prototype-A/tips" target="_blank">Tips on talking to your employee</a></p>

        <p><a href="prototype-A/checklist" target="_blank">Checklist for deciding on changes at work</a></p>

    </div>
  </div>

{% endblock %}
