{% extends "layouts/main.html" %}

{% block pageTitle %}
Ask your employee about a health condition or disability {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Ask your employee about a health condition or disability</h1>

      <p class="govuk-body">You should ask your employee about any health condition or disability they have. Start with a general chat about how they are and how any condition might affect them.</p>

      <p class="govuk-body">Your employee does not have to tell you about their disability or health condition. You should avoid asking for too many details, or pushing them to be certain about things too soon.</p>

      <p class="govuk-body">When you talk to your employee about their health condition or disability, make sure you consider their dignity and privacy. Their personal information should be handled confidentially.</p>

      <p class="govuk-body">Not all employees who meet the definition of disability will think of themselves as a ‘disabled person’. Even if your employee has not told you that they have a disability, you should consider any circumstances which suggest that they may be disabled and need support.</p>

      <p class="govuk-body">You can come back to this website at any time. This will help you with continued support for your employee with the changes they need.</p>
      
      <br>

      {{ govukButton({
        text: "Continue to summary",
        href: "sum-5"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
