{% extends "layouts/main.html" %}

{% block pageTitle %}
Discussing changes to ways of working {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">Discussing changes to ways of working</h1>

    <p class="govuk-body-l">Changes to hours, shift patterns or policies can help your employee do their best at work.</p>
     
    <p class="govuk-body"><strong>Example:</strong> if depression can make it difficult for an employee to start their day, allow them to come in later.</p>
    <p class="govuk-body"><strong>Example:</strong> for an employee with migraines, more regular screen breaks might help.</p>

    <p class="govuk-body">You do not need to follow these worked examples step by step. Even if the scenario is irrelevant to you, using some of the ideas and processes mentioned will help you support your employee. For example, scheduling regular catch-ups or putting a temporary buddy system in place.</p>

    <p class="govuk-body">Select the text below to expand the worked examples.</p>

      <!--
          MENTAL HEALTH
      -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out how a gym owner supported a member of staff with a temporary mental health condition.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee was verbally attacked by a customer at the gym they work at.</p>

        <p class="govuk-body">Following the encounter they:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>felt nervous about coming in for shifts</li>
          <li>were not as welcoming or chatty to customers and colleagues noticed this change in their behaviour</li>
          <li>didn't feel comfortable leading exercise classes alone</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>
        
        <p class="govuk-body">The gym owner notices a change in the employee. They set up a meeting to discuss possible support. The employer researches mental health awareness courses training to help them understand how best to support staff if this situation were to happen again.</p>
        
        <p class="govuk-body">The employer suggests:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the employee takes a short break from customer-facing tasks</li>
          <li>all staff work in pairs when opening and locking up the gym</li>
          <li>all exercise classes run by individual employees have a buddy (another colleague) observing</li>
        </ul>

        <p class="govuk-body">They agree to meet in a couple of weeks following the changes to discuss if the changes are helping the employee manage their anxiety.</p>
        
        <h3 class="govuk-heading-s">What happened next</h3>
        
        <p class="govuk-body">The employee now feels comfortable running classes and agrees to try leading a session on their own in a couple of weeks. They're also working with a buddy on the front desk one shift per week for a trial period.</p>
        
        <h3 class="govuk-heading-s">What's happening now</h3>
        
        <p class="govuk-body">They now have regular meetings to talk about any issues and to discuss and agree on any changes needed.</p>

      </div>
    </details>

      <!--
          MENOPAUSE
      -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out how a shop owner supported their employee to manage menopause in the workplace.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee experiencing menopause works in a busy shop.</p>

        <h3 class="govuk-heading-s">They find it:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>difficult to concentrate in the noisy and busy environment</li>
          <li>uncomfortable and embarrassing during a hot flush</li>
          <li>increases their anxiety when dealing with customers</li>
          <li>upsetting when forgetting stock and pricing changes</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>

        <p class="govuk-body">The manager notices the change in the employee. They set up a meeting with the employee to explore how they can support them.</p>

          <p class="govuk-body">The employee tells their manager that they are experiencing menopause. They discuss how symptoms are affecting the employees role and what options are available to help manage the symptoms at work. They agree to meet again in a week.</p>

        <h3 class="govuk-heading-s">What happened next</h3>

        <p class="govuk-body">It's agreed that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>for a trial period, a colleague will cover customer-facing duties when the employee needs to freshen up or take a quick break</li>
          <li>the manager will research menopause to get a greater understanding and knowledge to support their employee</li>
        </ul>

        <h3 class="govuk-heading-s">What's happening now</h3>

        <p class="govuk-body">The employee and manager have regular catchups. They discuss how the employee is managing the menopause and if the temporary changes are helping and if any other support is needed.</p>

       </div>
    </details>

    <p class="govuk-body">You should refer to any policies you have in place. Both temporary and permanent changes could support them.</p>

    <p class="govuk-body">Consider and agree on each change together with your employee. You should review any changes you make regularly. These are sometimes temporary as health conditions can change over time.</p>

    <br />
 
    <br>

      {{ govukButton({
        text: "Continue",
        href: "rea-c2"
      }) }}
      
    </div>
  </div>

{% endblock %}
