{% extends "layouts/main.html" %}

{% block pageTitle %}
Support with employee health and disability
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Support with employee health and disability
      </h1>

        <p>This guidance is for employers and managers.</p>

        <p>It will help you support employees and understand any legal requirements. There are links to government and other organisations that can help.</p>
          
        <p>The guidance will help you with:</p> 
        <ul class="govuk-list govuk-list--bullet">
            <li>managing absences and keeping in touch</li>
            <li>having conversations with your employee, in and out of work</li>
            <li>deciding on changes to help them stay or come back to work</li>
        </ul>

        <h2 class="govuk-heading-m">How this service works</h2>

        <p>There are two ways to use this service.</p>

        <p>You will see questions about your situation and guidance based on your answers. At the end there is a list of links you will have seen throughout the service. You can also save and print the guidance.</p>

        <p>Or you can go straight to specific guidance listed below the start button.</p>

        <h2 class="govuk-heading-m">Use the Welsh version</h2>

        <p class="govuk-body">This service is also available <a class="govuk-link" href="#">in Welsh (Cymraeg)</a>.</p>

        <a href="sta-q2" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

        <p>Go straight to guidance about:</p> 

        <ul class="govuk-list govuk-list--bullet">
          <li id="start-links-1" name="sta4" value="SSP"><a href="../shortcuts-A/est-q1" >paying Statutory Sick Pay (SSP)</a></li>
          <li id="start-links-2" name="sta4" value="managing-absences"><a href="../shortcuts-A/com-g1">managing absences and keeping in touch</a></li>
          <li id="start-links-3" name="sta4" value="conversions"><a href="../shortcuts-A/com-g3">having conversations with your employee about their health condition or disability</a></li>
          <li id="start-links-4" name="sta4" value="discussing-changes"><a href="../shortcuts-A/com-q2">discussing changes to help your employee at work</a></li>
      </ul>
      
      <p class="govuk-body">The service does not store personal information.</p>

    </div>
  </div>

{% endblock %}
