
{% extends "layouts/main.html" %}

{% block pageTitle %}
Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Home
      </h1>

      <p><a href="https://www.support-with-employee-health-and-disability.dwp.gov.uk/support-with-employee-health-and-disability" target="_blank">Link to the live service</a></p>

      <p><a href="searchresults1.html">Search for 'employee disabled at work'</a></p>

      <p><a href="searchresults2.html">Search for 'employee sick at work'</a></p>

      </div>
  </div>

{% endblock %}
