{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you likely to be able to make the changes your employee needs? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="adj-q2-routing">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Are you likely to be able to make the changes your employee needs?
              </h1>
            </legend>
            <p class="govuk-body">
              If you are not directly responsible for changes in your company, try to answer on behalf of the business as a whole.
            </p>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="able-to-make-changes-1" name="adjQ2" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="able-to-make-changes-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="able-to-make-changes-2" name="adjQ2" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="able-to-make-changes-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="able-to-make-changes-3" name="adjQ2" type="radio" value="notSure">
                <label class="govuk-label govuk-radios__label" for="able-to-make-changes-3">
                  I’m not sure
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
