
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sprint 4 index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sprint 4 index
      </h1>

      <h2 class="govuk-heading-m">Current testing versions</h2>

        <p><a href="prototype-A/start/sta-4.html">Prototype A</a></p>

        <p><a href="https://www.smartsurvey.co.uk/s/DUDOPQ/" target="_blank">Follow up (opens in a new tab)</a></p>

        

    </div>
  </div>

{% endblock %}
