{% extends "layouts/main.html" %}

{% block pageTitle %}
Ask your employee about a disability or health condition {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Ask your employee about a disability or health condition</h1>

   
      <p class="govuk-body">You should ask your employee about any disability or health condition they have. Start with a general chat about how they are and how any condition might affect them.</p>

      <p class="govuk-body">Since your employee is currently at work, starting a conversation gives you the best chance to support them. You may be able to reduce the chances that they will need to go off work.</p>

      <p class="govuk-body">Your employee does not have to tell you about their disability or health condition. You should avoid asking for too many details, or pushing them to be certain about things too soon.</p>
     
      <br>

      {{ govukButton({
        text: "Continue",
        href: "com-q3"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
