{% extends "layouts/main.html" %}

{% block pageTitle %}
Prepare for a conversation with your employee {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Prepare for a conversation with your employee</h1>

      <p class="govuk-body-l">You do not need to know the details of your employee's condition before you talk to them about support. But learning more can help you prepare for the conversation.</p>

      <h2 class="govuk-heading-l">Listen to your employee</h2>
      
      <p class="govuk-body">It's very important to listen to your employee and not make assumptions. Everyone has a different experience of any health condition or disability.</p>

      <p class="govuk-body">However, many people appreciate it if you learn a little about their condition. This shows that you want to support them. Remember that they are still the expert on their own situation.</p>

      <h2 class="govuk-heading-l">Mental health</h2>

      <p class="govuk-body">People with mental health conditions can feel their condition is less understood than more visible physical conditions. It's important not to trivialise things like depression and anxiety. Take time to learn from and listen to your employee.</p>

      <p class="govuk-body">Physical conditions can also affect mental health.</p>

      <p class="govuk-body">Long-term conditions like depression can affect people very differently over time. Your employee is likely to have good and bad days, with different needs for each.</p>

      <p class="govuk-body"><a href="https://www.mentalhealthatwork.org.uk/" target="_blank">Mental Health at Work (opens in new tab)</a> is a collection of work-related guides from mental health experts.</p>

      <h2 class="govuk-heading-l">Disabilities and common conditions</h2>

      <p class="govuk-body">These websites can help you to learn more about your employee's condition.</p>


      <p class="govuk-body">The <a href="https://www.gov.uk/government/publications/disability-confident-and-cipd-guide-for-line-managers-on-employing-people-with-a-disability-or-health-condition" target="_blank">Employing disabled people and people with health conditions (opens in new tab)</a> for line managers (opens in new tab) covers recruiting, managing and developing people with a disability or long-term condition.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/employing-disabled-people-and-people-with-health-conditions/employing-disabled-people-and-people-with-health-conditions" target="_blank">Disability Confident and CIPD guide (opens in new tab)</a> includes advice on specific conditions.</p>

      <p class="govuk-body">The <a href="https://www.nhs.uk/conditions/" target="_blank">NHS Health A to Z (opens in a new tab)</a> has details of many conditions and the most common symptoms.</p>


      <br>

      {% if data['staQ2'] == 'noOffWork' %}
        {{ govukButton({
          text: "Continue",
          href: "com-q2"
          }) 
        }}
      {% else %}
        {{ govukButton({
          text: "Continue",
          href: "com-q3"
          }) 
        }}
      {% endif %}

    </div>
  </div>

{% endblock %}