{% extends "layouts/main.html" %}

{% block pageTitle %}
Recap of key advice {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">Recap of key advice</h1>

        <p class="govuk-body">There are no more questions.</p>

        <iframe src="sum-4" name="sum-4" class="govuk-visually-hidden"></iframe>

        <p class="govuk-body">The answers you gave have not been recorded. If you leave this page you will need to answer the questions again to see the guidance information. <a href="#" onclick="frames['sum-4'].print()">save and print the guidance information you’ve seen</a> and refer to it when needed in the future.</p>

        <!--
          Survey link/help us improve
        -->

        <h2 class="govuk-heading-l">Tips on talking to your employee</h2>

        <p class="govuk-body">Check the <a href="com-tips">tips on talking to your employee</a></p>

        <h2 class="govuk-heading-l">Checklist for deciding on changes at work</h2>

        <p class="govuk-body">Check the <a href="rea-checklist">checklist for deciding on changes at work</a></p>


        <h2 class="govuk-heading-l">Links included in the guidance</h2>

        <p class="govuk-body">These links were included in the guidance. You can review these or save them to read later. The following links all open in new tabs.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/disability-confident-how-to-sign-up-to-the-employer-scheme" target="_blank">The Disability Confident scheme
          </a></li>
          <li><a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010" target="_blank">Definition of disability under the Equality Act 2010</a></li>
          <li><a href="https://www.gov.uk/access-to-work" target="_blank">Access to Work</a></li>
          <li><a href="https://www.acas.org.uk/using-occupational-health-at-work" target="_blank">Using occupational health services at Acas (the Advisory, Conciliation and Arbitration service)</a></li>
          <li><a href="https://businessdisabilityforum.org.uk/knowledge-hub/resources/tailored-adjustments-plans-passports-and-agreements/" target="_blank">The Business Disability Forum</a></li>
        </ul>

        <h2 class="govuk-heading-l">Help us to improve the service</h2>

        <p class="govuk-body">‘Support and manage disabled employees and employees with health conditions’ is a new service. Your <a href="#">feedback</a> will help us to improve it.</p>
        
    </div>
  </div>

{% endblock %}


