{% extends "layouts/main.html" %}

{% block pageTitle %}
Save and print {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <h1 class="govuk-heading-xl">Save and print</h1>

        <p class="govuk-body">There are no more questions.</p>

        <iframe src="sum-4" name="sum-4" class="govuk-visually-hidden"></iframe>

        <p class="govuk-body">You may find it useful to <a href="#" onclick="frames['sum-4'].print()">save and print the guidance information you’ve seen</a>.</p>

        <p class="govuk-body">The answers you gave have not been recorded. If you leave this page you will need to answer the questions again to see the guidance information.</p>

        <!--
          Survey link/help us improve
        -->

        <h2 class="govuk-heading-l">Help us improve</h2>

        <p class="govuk-body">‘Support and manage disabled employees and employees with health conditions’ is a new service. Your <a href="#">feedback</a> will help us to improve it.</p>
        
    </div>
  </div>

{% endblock %}


