
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you want help on what to say to your employee while they are off work sick?  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "get-in-touch-with-employee"
      }) }}

      <span class="govuk-caption-xl">Employee absent due to sickness: what you need to do</span>

      {{ govukRadios({
        idPrefix: "confidentCommunicatingWithEmployeeA",
        name: "confidentCommunicatingWithEmployeeA",
        value: data['confidentCommunicatingWithEmployeeA'],
        fieldset: {
          legend: {
            text: "Do you want help on what to say to your employee while they are off work sick?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes~/alpha/sprint-5/gone-off-work/prototype-A/what-to-say-to-employee",
            text: "Yes",
            checked: data['confidentCommunicatingWithEmployeeA'] === 'Yes'
          },
          {
            value: "No",
            text: "No",
            checked: data['confidentCommunicatingWithEmployeeA'] === 'No'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

  <div class="unbrandedFooter">
    <p class="govuk-body unbrandedJourneyName">Employee gone off sick - prototype A
      <span class="govuk-body unbrandedClearData"><a href="/index">Return to homepage</a></span>
    </p>
  </div>

{% endblock %}
