//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-header__logo {
    display: inline;
  }
  
  .govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s, .govuk-table, .govuk-table__caption--m, .govuk-link, p, a, .govuk-body, .govuk-body-m, .govuk-footer__link, .govuk-footer, .govuk-header__service-name, .govuk-list, .app-task-list__items, .govuk-caption-m, .govuk-button, .govuk-fieldset__heading, .govuk-back-link, .govuk-radios__label, .govuk-hint, .govuk-label, .govuk-body-l, .govuk-details {
      font-family: Helvetica, Arial, sans-serif;
  }


  .dwp-language-toggle {
    font-family: Arial,sans-serif;
    font-size: 16px;
  }
  
  .dwp-language-toggle__list {
    margin-top: 1em;
    text-align: right;
  }
  
  .dwp-language-toggle__list-item {
    display: inline-block;
  }
  
  .dwp-language-toggle__list-item:first-child:after {
    content: "";
    display: inline-block;
    border-right: 1px solid #0b0c0c;
    position: relative;
    top: .1875em;
    height: 1em;
  }
  .govuk-phase-banner {
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b4b6;
    margin-top: -30px;
  }




  // Task list pattern

.govuk-prototype-kit-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.govuk-prototype-kit-task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.govuk-prototype-kit-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.govuk-prototype-kit-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.govuk-prototype-kit-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.govuk-prototype-kit-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.govuk-prototype-kit-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

// The `govuk-prototype-kit-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.govuk-prototype-kit-task-list__tag,
.govuk-prototype-kit-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
