
{% extends "layouts/main.html" %}

{% block pageTitle %}
Recommendations for you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    {{ govukBackLink({
      text: "Back",
      href: "does-employee-need-changes"
    }) }}
    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Employee absent due to sickness: what you need to do</span>
      Recommendations for you
    </h1>
    
  </div>

  
    <!--
      Replaying users answers
    -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <p>
        Because you said your employee:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>has been off work due to illness for 8 days</li>
        <li>is not off sick because of Coronavirus (COVID-19)</li>
        <li>has not been contacted</li>
      </ul>

      <p>
        Because you said:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you want help on what to say to your employee while they are off work sick</li>
        <li>you have not talked about possible change to the workplace or ways of working with your employee</li>
      </ul>

    </div>

    <!--
      Guidance being given
    -->

    <div class="govuk-grid-column-two-thirds">
    
      <!--
        Statutory sick pay
      -->

      <h2 class="govuk-heading-m">You must pay Statutory Sick Pay</h2>

      <p class="govuk-body">Your employee has been off work for 8 calendar days. Calendar days include non-working days, such as weekends.</p>

      <p class="govuk-body">You must pay Statutory Sick Pay (SSP) if your employee is eligible. <a href="https://www.gov.uk/calculate-statutory-sick-pay">Check your employee’s eligibility, and calculate how much SSP you need to pay</a>. You pay SSP instead of a normal salary. You cannot claim SSP back from the government.</p>

      <p class="govuk-body">Some employers also choose to pay additional sick pay. If you offer extra sick pay you can decide when to start and stop paying it, and how much extra to pay.</p>

      <p class="govuk-body">Before you pay SSP you can ask your employee for proof of their sickness. A fit note is an example of proof. Fit notes used to be called sick notes.</p>

      <p class="govuk-body">Your employee can ask their doctor for a free fit note, because they've been off sick for 8 or more days. <a href="https://www.gov.uk/government/publications/fit-note-guidance-for-employers-and-line-managers">Find out what to do when you’re given a fit note</a>.</p>
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!--
        You should contact employee
      -->

      <h2 class="govuk-heading-m">You should get in touch with your employee</h2>

      <p class="govuk-body">You should send them an informal message or call them. The purpose of your contact should be to see how they are, not to ask when they are coming back.</p>

      <p class="govuk-body">Staying in regular contact with your employee is the best way to help them come back to work when they are ready.</p>

      <p class="govuk-body">If your employee comes back to work too soon, they might relapse and need more time off work.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <!--
          What to say
      -->
      
      <h class="govuk-heading-m">What to say to your employee</h2>

      <p class="govuk-body">The purpose of getting in touch with an employee is to reassure them that they can return to work when they are better.</p>

      <p class="govuk-body">Helpful things to say:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>We are sorry to hear you are feeling unwell, we are thinking of you</li>
        <li>Take time to look after yourself</li>
        <li>Could we arrange a time to have a quick hand over of outstanding work, that way you can concentrate on getting better and we can cover your work while you are off</li>
        <li>Let us know if there is anything you need and if we can do anything to help you</li>
        <li>Let us know how and through whom you want to communicate with us</li>
        <li>What, if anything, would you like to be shared with others about your reasons for being absent?</li>
      </ul>

      <p class="govuk-body">Things you should not say to your employee:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Where did you put x / y / z?</li>
        <li>I know you are off, but could you just answer this one question...</li>
        <li>When are you going to be back? (They are unlikely to know at first. This question would be better in week 2 or 3 if they are not yet back.)</li>
      </ul>
            
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!--
          How often to get in touch
      -->

      <h2 class="govuk-heading-m">How to get in touch</h2>

      <p class="govuk-body">There are no rules about how often you get in touch, but it should be at regular intervals. You and your employee should agree how often you get in contact with each other.</p>

      <p class="govuk-body">Use whatever method feels most comfortable and appropriate for both you and your employee. It could be a text message, social media message, email, letter, phone call, or face to face meeting.</p>

      <p class="govuk-body">The conversations you have should be informal, and focussed on the employee's wellbeing. However, you should make a note of when you’ve been in touch and what you discussed. This can be helpful in case there is a dispute in the future.</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <!--
        Reasonable adjustments
      -->

      <h2 class="govuk-heading-m">You must talk to your employee about possible changes to the workplace or ways of working</h2>

      <p class="govuk-body">Employees who are disabled or who have health conditions should not be disadvantaged when doing their jobs.</p>

      <p class="govuk-body">As the employer you are responsible for making sure your employee is not disadvantaged. You may need to make changes to the workplace or the way your employee can do their job.</p>

      <p class="govuk-body">These changes are called ‘reasonable adjustments’ and they are required by law.</p>

      <p class="govuk-body">You must talk to your employee about what changes they might need when they return to work.</p>

      <p class="govuk-body">Read more about <a href="https://www.acas.org.uk/reasonable-adjustments">reasonable adjustments</a>.</p>

      <br><br><br><br><br>
      
    </div>
  </div>

    <div class="unbrandedFooter">
      <p class="govuk-body unbrandedJourneyName">Employee gone off sick - prototype B
        <span class="govuk-body unbrandedClearData"><a href="/index">Return to homepage</a></span>
      </p>
    </div>

{% endblock %}
