{% extends "layouts/main.html" %}

{% block pageTitle %}
Have regular meetings with your employee {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Start of ADJ-G10 summary content -->

      <h1 class="govuk-heading-xl">Have regular meetings with your employee</h1>

      <p class="govuk-body-l">It's important to keep checking that your employee feels supported and any changes are still right for them.</p>

      <!--
        Keep talking with employee
      -->

      <h2 class="govuk-heading-l">Keep talking with your employee</h2>

      <p class="govuk-body">Talk regularly to your employee about what they need. The changes you put in place now might not always be right for them.</p>

      <p class="govuk-body">Some conditions will vary over the long term, and others will have good and bad days. Try to accommodate this kind of change.</p>

      <p class="govuk-body"><a href="https://www.hse.gov.uk/disability/best-practice/talking-toolkit.htm" target="_blank">A talking toolkit based on principles of good practices that go beyond what the law requires is available on the HSE website (opens in new tab)</a></p>
      
      <!--
        Record and update a plan
      -->

      <h2 class="govuk-heading-l">Record and update a plan</h2>

      <p class="govuk-body">You should keep a record of the changes or reasonable adjustments you have agreed. Review it together regularly.</p>

      <p class="govuk-body">A reasonable adjustment plan is useful for this. <a href="https://businessdisabilityforum.org.uk/knowledge-hub/resources/tailored-adjustments-plans-passports-and-agreements/" target="_blank">The Business Disability Forum (opens in new tab)</a> has guidance on reasonable adjustment plans.</p>

      <!--
        Support from occupational health
      -->

      <h2 class="govuk-heading-l">Support from occupational health</h2>

      <p class="govuk-body">The changes you put in place should support your employee as much as possible. If the situation has changed, you can get useful advice from an occupational health provider. These services are paid for but can help your business by keeping your employees healthy and productive.</p>

      <p class="govuk-body"><a href="https://www.acas.org.uk/using-occupational-health-at-work" target="_blank">Find more about using occupational health services on the Acas website (opens in new tab)</a></p>      
     
      <!-- End of ADJ-G10 summary content -->

      <br><br>

      {{ govukButton({
        text: "Continue to summary",
        href: "sum-5"
      }) }}
      
    </div>
  </div>

{% endblock %}
