{% extends "layouts/main.html" %}

{% block pageTitle %}
Examples of changes for mental health conditions {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="adj-g4" method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "adj-g2"
      }) }}

      <h1 class="govuk-heading-l">Examples of changes for mental health conditions</h1>

       <p class="govuk-body">Mental health conditions are all different, so no change will suit everyone.</p>

        <p class="govuk-body">You can ask your employee about possible changes like:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>having quiet areas in the office (a change to the workplace)</li>
          <li>different shift patterns or start times (a change to ways of working)</li>
          <li>providing help to managing their workload (extra support)</li>
        </ul>

        <p class="govuk-body"><a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers">More about reasonable adjustments on GOV.UK</a></p>

        <h2 class="govuk-heading-s">Talking about mental health</h2>

        <p class="govuk-body">Help with costs might be available if you cannot make the changes your employee needs.</p>

        <p class="govuk-body">Your employee might be worried about approaching you, or asking for changes. This can be especially hard for less visible conditions like mental illness.</p>

        <p class="govuk-body">You could ask your employee if there is anything you can do to make them more comfortable. Think about how you can create a culture where everyone is happy to talk about mental health.</p>

        <p class="govuk-body"><a href="https://www.mind.org.uk/workplace/mental-health-at-work/">Mental health at work: Mind</a></p>

        <br>
        
            {{ govukButton({
              text: "Continue"
            }) }}

    </form>
      
    </div>
  </div>

{% endblock %}
