{% extends "layouts/main.html" %}

{% block pageTitle %}
Discussing changes at work {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-xl">Discussing changes at work</h1>

    <p class="govuk-body-l">Identify all the possible areas where changes at work could help your employee. You should refer to any policies you have in place. Both temporary and permanent changes could support them. Consider and agree on each change together with your employee.</p>

    <br />
    <h2 class="govuk-heading-m">Ways of working</h2>
    <p class="govuk-body">Changes to hours, shift patterns or other policies can help your employee do their best at work.</p>
    <p class="govuk-hint"><strong>Example:</strong> <em>if depression can make it difficult for an employee to start their day, allow them to come in later.</em></p>
    <p class="govuk-hint"><strong>Example:</strong> <em>for an employee with migraines, more regular screen breaks might help.</em></p>

    <p class="govuk-body">Select the text below to expand the case studies.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Read how a gym owner supported a member of staff with a temporary mental health condition.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee was verbally attacked by a customer at the gym they work at.</p>

        <p class="govuk-body">Following the encounter they:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>felt nervous about coming in for shifts</li>
          <li>were not as welcoming or chatty to customers and colleagues noticed this change in their behaviour</li>
          <li>didn't feel comfortable leading exercise classes alone</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>
        
        <p class="govuk-body">The gym owner notices a change in the employee. They set up a meeting to discuss possible support. The employer researches mental health awareness courses training to help them understand how best to support staff if this situation were to happen again. The employer suggests:.</p>
        
        <p class="govuk-body">The employer suggests:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the employee takes a short break from customer-facing tasks</li>
          <li>all staff work in pairs when opening and locking up the gym</li>
          <li>all exercise classes run by individual employees have a buddy (another colleague) observing</li>
        </ul>

        <p class="govuk-body">They agree to meet in a couple of weeks following the changes to discuss if the changes are helping the employee manage their anxiety.</p>
        
        <h3 class="govuk-heading-s">What happened next</h3>
        
        <p class="govuk-body">The employee now feels comfortable running classes and agrees to try leading a session on their own in a couple of weeks. They're also working with a buddy on the front desk one shift per week for a trial period.</p>
        
        <h3 class="govuk-heading-s">What's happening now</h3>
        
        <p class="govuk-body">They now have regular meetings to talk about any issues and to discuss and agree on any changes needed.</p>

      </div>
    </details>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out how a shop owner supported their employee to manage menopause in the workplace.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee experiencing menopause works in a busy shop.</p>

        <h3 class="govuk-heading-s">They find it:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>difficult to concentrate in the noisy and busy environment</li>
          <li>uncomfortable and embarrassing during a hot flush</li>
          <li>increases their anxiety when dealing with customers</li>
          <li>upsetting when forgetting stock and pricing changes</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>

        <p class="govuk-body">The manager notices the change in the employee. They set up a meeting with the employee to explore how they can support them.</p>

          <p class="govuk-body">The employee tells their manager that they are experiencing menopause. They discuss how symptoms are affecting the employees role and what options are available to help manage the symptoms at work. They agree to meet again in a week.</p>

        <h3 class="govuk-heading-s">What happened next</h3>

        <p class="govuk-body">It's agreed that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>for a trial period, a colleague will cover customer-facing duties when the employee needs to freshen up or take a quick break</li>
          <li>the manager will research menopause to get a greater understanding and knowledge to support their employee</li>
        </ul>

        <h3 class="govuk-heading-s">What's happening now</h3>

        <p class="govuk-body">The employee and manager have regular catchups. They discuss how the employee is managing the menopause and if the temporary changes are helping and if any other support is needed.</p>

       </div>
    </details>

    <p class="govuk-body">You do not need to follow these case studies step by step. Using some of the ideas and processes mentioned could help you support your employee. For example, scheduling regular catch-ups or putting a temporary buddy system in place.</p>

    <br />
      <hr />
 <br />
    <h2 class="govuk-heading-m">Work environment</h2>
    <p class="govuk-body">This might include things like desk space, equipment and noise levels. These changes can make the work environment less challenging.</p>
    <p class="govuk-hint"><strong>Example:</strong> <em>a place to work away from distractions can help an employee who is feeling overwhelmed by stress.</em></p>
    <p class="govuk-hint"><strong>Example:</strong> <em>an employee who uses mobility aids might need an accessible parking space.</em></p>

    <p class="govuk-body">Select the text below to expand the case studies.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Read how an employer supported their employee with a temporary health condition whilst working from home.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee who was home based had been suffering from a bad back for over a month.</p>

        <h3 class="govuk-heading-s">What happened first</h3>

        <p class="govuk-body">During a meeting with their employer, the employee mentioned their recent back problems and that they found a new, stylish, top-of-the-range chair online. The employee asked for it to be expensed by the company as they could not afford the chair themselves.</p>

        <p class="govuk-body">The employer wanted to make sure that they understood the employee’s needs. They were concerned that the proposed chair did not meet the requirements. The employer also worried about the cost of the chair and that everyone else in the company would want one.</p>

        <h3 class="govuk-heading-s">What happened next</h3>

        <p class="govuk-body">Both met to discuss what the employee had already tried - a back support, a different chair, stretching, advice from their doctor or physiotherapist.</p>

        <p class="govuk-body">It was agreed that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the employer would arrange for a desk assessment to be carried out at the employees home</li>
          <li>the employer would take advice from the assessment on which chair would be most suitable for the employee’s needs</li>
          <li>the new chair would be within the company allocated budget allowance</li>
        </ul>

        <p class="govuk-body">They met a month later to check if the condition had improved with the new chair and if they needed any more support</p>

      </div>
    </details>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Check how an employer supported their deaf employee to make sure the working environment was suitable.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">A moderately deaf employee is finding it difficult to concentrate in the open-plan office.</p>

        <h3 class="govuk-heading-s">They find it:</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>tiring being on video calls with other noises around them distracting them</li>
          <li>difficult fitting an interpreter next to them when needed in the limited space between the desk areas</li>
          <li>awkward as it draws attention to their disability</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>

        <p class="govuk-body">The employer wanted to make sure that their employee felt supported and able to carry out their job. They also wanted to check if there was anything else they could do to help the employee overcome their concentration difficulties. </p>

        <p class="govuk-body">The employer checked workplace policies and researched further before having a conversation with the employee.</p>

        <p class="govuk-body">The employer suggests moving to a quieter area for a trial period.</p>

        <p class="govuk-body">It was less distracting, but the employee:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>felt separated from their team</li>
          <li>felt that they missed out on team discussions</li>
          <li>wasted time going to and from their team area</li>
          <li>felt awkward and that it was unfair they had been separated</li>
        </ul>

        <h3 class="govuk-heading-s">What happened next</h3>

        <p class="govuk-body">Next, it was agreed that a partition screen would be added for a trial period. This gave more privacy and fewer distractions. However there was still not enough space for the interpreter when needed.</p>

        <p class="govuk-body">The employer decided to swap the team areas around. This meant that the employee was in a quieter space with more room for extra seats near their desk when needed, but was still part of the team.</p>

        <h3 class="govuk-heading-s">What's happening now</h3>

        <p class="govuk-body">They meet fortnightly to check on the situation and if the new team location is working for the employee.</p>

      </div>
    </details>
    
    <p class="govuk-body">You do not need to follow these case studies step by step. Using some of the ideas and processes mentioned could help you support your employee. For example, discussing temporary adjustments or being more sympathetic to employee needs.</p>

    <br />
      <hr />

  <br />
 <h2 class="govuk-heading-m">Extra help</h2>
 <p class="govuk-body">It might help your employee to have someone to help with parts of their job or how they access work.</p>
 <p class="govuk-hint"><strong>Example:</strong> <em>if your employee is returning to work, a buddy system could help them feel supported.</em></p>
 <p class="govuk-hint"><strong>Example:</strong> <em>for an employee with temporary hearing loss, give their phone responsibilities to someone else.</em></p>
 <br />
   <hr />
<br />

<p class="govuk-body">You should review any changes you make regularly. These are sometimes temporary as health conditions can change over time.</p>

    <br>

      {{ govukButton({
        text: "Continue",
        href: "adj-q2"
      }) }}
      
    </div>
  </div>

{% endblock %}
