{% extends "layouts/main.html" %}

{% block pageTitle %}
You do not have to pay your employee Statutory Sick Pay {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">This section: Paying your employee</span>
      <h1 class="govuk-heading-xl">You do not have to pay your employee Statutory Sick Pay</h1>

      <p class="govuk-body">Your employee has been off work for more than 28 weeks. This includes non-working days.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your employee is no longer eligible for Statutory Sick Pay (SSP). You do not have to pay SSP.
        </strong>
      </div>

      <p class="govuk-body">SSP stops being paid to employees after a period of 28 weeks. Some employers choose to continue to pay their own sick pay after this time.</p>

      <h2 class="govuk-heading-l">Possible financial help for your employee</h2>

      <p class="govuk-body">You can let your employee know that they might be able to get financial help from the government. They will need to apply for this themselves.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/employers-sick-pay/eligibility-and-form-ssp1" target="_blank">Check more about SSP payments on GOV.UK (opens in new tab)</a>.</p>
      
      <br />
      <p class="govuk-body"><strong>Next section:</strong> Having conversations with your employee</p>


      {{ govukButton({
        text: "Continue",
        href: "com-g1"
      }) }}

      {{ govukButton({
        text: "Finish and go to your summary",
        classes: "govuk-button--secondary",
        href: "skip-6"
      }) }}
      
    </div>
  </div>

{% endblock %}
