
{% extends "layouts/main.html" %}

{% block pageTitle %}
Sprint 12 index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Sprint 12 index
      </h1>

      <h2 class="govuk-heading-m">Current testing versions</h2>

        <p><a href="prototype-A/sta-4">Prototype A</a></p>

        <p><a href="https://www.smartsurvey.co.uk/s/Z2XSPB/" target="_blank">Follow up (opens in a new tab)</a></p>

    </div>
  </div>

{% endblock %}
