{% extends "layouts/main.html" %}

{% block pageTitle %}
Would you like examples of changes at work to put into practice? {{ data['pageTitleAddOn'] }}
{% endblock %}


{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        Mae hwn yn wasanaeth newydd – bydd eich <a class="govuk-link" href="#">adborth (yn agor mewn tab newydd)</a> yn ein helpu i’w wella.

      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Yn ôl</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="com-q5-checklist-routing">

          <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="checklist-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-l">Yr adran hon: ystyried addasiadau a help ychwanegol</span>
    
Hoffech chi gael enghreifftiau o newidiadau yn y gwaith i’w rhoi ar waith?
            </h1>
          </legend>
          <div id="changes-hint" class="govuk-hint">
            Dewiswch bynciau yr hoffech gael enghreifftiau ohonynt
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="checklist" name="comQ5" type="checkbox" value="waysOfWorking">
              <label class="govuk-label govuk-checkboxes__label" for="checklist">
                Ffyrdd o weithio              
              </label>
              <div id="waysofworking-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Yn cynnwys newidiadau i oriau, patrymau shifft neu bolisïau
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="checklist-2" name="comQ5" type="checkbox" value="workEnvironment">
              <label class="govuk-label govuk-checkboxes__label" for="checklist-2">
                Amgylchedd waith
              </label>
              <div id="workenvironment-item-hint" class="govuk-hint govuk-checkboxes__hint">
                Yn cynnwys pethau fel lle desg, offer a lefelau swn
                </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="checklist-3" name="comQ5" type="checkbox" value="extraSupport">
              <label class="govuk-label govuk-checkboxes__label" for="checklist-3">
                Cymorth ychwanegol
              </label>
              <div id="extrasupport-item-hint" class="govuk-hint govuk-checkboxes__hint">
                i helpu’ch gweithiwr i gael cefnogaeth ychwanegol gyda rhannau o’u swydd neu sut maent yn cael mynediad at waith

                </div>
            </div>
            <div class="govuk-checkboxes__divider">neu</div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="checklist-4" name="comQ5" type="checkbox" value="noneOfThese">
                <label class="govuk-label govuk-checkboxes__label" for="checklist-4">
                  Dim un o’r rhain
                </label>
              </div>
          </div>
      
        </fieldset>
      </div>

      {{ govukButton({
        text: "Parhau"
      }) }}

    </form>
      
    </div>
  </div>

{% endblock %}