{% extends "layouts/main.html" %}

{% block pageTitle %}
What to do if your employee has not told you about a health condition or disability {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        Mae hwn yn wasanaeth newydd – bydd eich <a class="govuk-link" href="#">adborth (yn agor mewn tab newydd)</a> yn ein helpu i’w wella.

      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Yn ôl</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Yr adran hon: cael sgyrsiau gyda’ch gweithiwr
      </span>

      <h1 class="govuk-heading-xl">Beth i’w wneud os nad yw eich gweithiwr wedi dweud wrthych am gyflwr iechyd neu anabledd</h1>

      <p class="govuk-body-l">Os yw eich gweithiwr i ffwrdd o’r gwaith oherwydd cyflwr iechyd neu anabledd, dylech fod yn ystyriol wrth ofyn cwestiynau am eu habsenoldeb. Efallai bydd y gweithiwr yn ei chael hi’n anodd trafod y manylion.</p>
      
      <p class="govuk-body">Mae’n bwysig creu diwylliant lle mae gweithwyr yn hapus i siarad am eu hiechyd.</p>

      <p class="govuk-body">Dylech osgoi beirniadu pan fyddwch yn siarad am gyflyrau iechyd neu anableddau. Mae hyn yn arbennig o bwysig ar gyfer cyflyrau iechyd meddwl.</p>

      <p class="govuk-body">Ni fydd pob gweithiwr sy’n bodloni’r diffiniad o anabledd yn meddwl amdanynt eu hunain fel ‘person anabl’. Hyd yn oed os nad yw eich gweithiwr wedi dweud wrthych fod ganddynt anabledd, dylech ystyried unrhyw amgylchiadau sy’n awgrymu y gallent fod yn anabl ac angen cefnogaeth.

      </p>

      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/equality-act-guidance/disability-equality-act-2010-guidance-on-matters-to-be-taken-into-account-in-determining-questions-relating-to-the-definition-of-disability-html#introduction" target="_blank">Gwiriwch beth sy’n cael ei ystyried fel anabledd o dan y Ddeddf Cydraddoldeb 2010 ar GOV.UK (yn agor mewn tab newydd)</a></p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive"></span>
          Mae’n rhaid i chi sicrhau eich bod yn dilyn y GDPR.
        </strong>
      </div>

      <p class="govuk-body">Eglurwch y byddwch yn cadw gwybodaeth iechyd yn breifat, a dim ond ei defnyddio i wneud newidiadau i helpu’ch gweithiwr i wneud eu gwaith.<a href="https://www.gov.uk/personal-data-my-employer-can-keep-about-me
        " target="_blank">Gallwch ddarganfod mwy o wybodaeth am GDPR ar GOV.UK (yn agor mewn tab newydd)</a>.</p>
    
      
      <br>
      <p class="govuk-body"><strong>Tudalen nesaf:</strong> mwy o ganllawiau ar gael sgyrsiau gyda’ch gweithiwr</p>


      {{ govukButton({
        text: "Parhau",
        href: "com-g3"
        }) 
      }}



      {{ govukButton({
        text: "Gorffen a mynd i’r crynodeb",
        classes: "govuk-button--secondary",
        href: "skip-5"
      }) }}
      
    </div>
  </div>

{% endblock %}
