{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you want help knowing what to say to your employee while they are off work? {{ data['pageTitleAddOn'] }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="com-q1-routing">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want help knowing what to say to your employee while they are off work?
              </h1>
            </legend>
            <div id="hasEmployeeTold-hint" class="govuk-hint">
              Staying in touch can make your employee feel supported and help you understand the effect on your business.
            </div>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="help-on-what-to-say-1" name="comQ1" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="help-on-what-to-say-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="help-on-what-to-say-2" name="comQ1" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="help-on-what-to-say-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}