{% extends "layouts/main.html" %}

{% block pageTitle %}
You must pay Statutory Sick Pay if your employee is eligible {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">You must pay Statutory Sick Pay if your employee is eligible</h1>

      <!--
          If employee is off for 4,5,6, or 7 days display content for EST-G2
      -->

      {% if (data['daysEmployeeOffSick'] >= '4') and (data['daysEmployeeOffSick'] <= '7') %}

        <p class="govuk-body">Your employee has been off work for {{ data['daysEmployeeOffSick'] }} days. This includes non-working days, such as weekends.</p>

        <p class="govuk-body">You must pay Statutory Sick Pay (SSP) if your employee is eligible. <a href="https://www.gov.uk/calculate-statutory-sick-pay" target="_blank">Check your employee’s eligibility and calculate how much SSP you need to pay (opens in a new tab)</a>. You pay SSP instead of a normal salary. You cannot reclaim SSP from the government.</p>

        <p class="govuk-body">Some employers choose to pay their own sick pay. This is in addition to SSP. If you offer additional sick pay you can decide when to start and stop paying it, and how much to pay.</p>

        <p class="govuk-body">You can choose to ask for medical evidence of your employee’s absence before you pay SSP. Examples include a letter from a hospital, or <a href="https://www.gov.uk/employers-sick-pay/notice-and-fit-notes" target="_blank">a fit note (opens in new tab)</a>. Fit notes used to be called sick notes.</p>

      <!--
          If employee is off for 8 days or more, display content for EST-G3
      -->
      {% else %}

        <p class="govuk-body">Your employee has been off work for {{ data['daysEmployeeOffSick'] }} days. This includes non-working days, such as weekends.</p>

        <p class="govuk-body">You must pay Statutory Sick Pay (SSP) if your employee is eligible. <a href="https://www.gov.uk/calculate-statutory-sick-pay" target="_blank">Check your employee’s eligibility and calculate how much SSP you need to pay (opens in a new tab)</a>. You pay SSP instead of a normal salary. You cannot reclaim SSP from the government.</p>

        <p class="govuk-body">Some employers choose to pay their own sick pay. This is in addition to SSP. If you offer additional sick pay you can decide when to start and stop paying it, and how much to pay.</p>

        <p class="govuk-body">You should not ask your employee to provide proof of their health condition or disability from a medical professional.</p>

      {% endif %}
      
      <br>

      {{ govukButton({
        text: "Back to contents",
        href: "contents"
      }) }}
      
    </div>
  </div>

{% endblock %}
