{% extends "layouts/main.html" %}

{% block pageTitle %}
Guidance on recruiting and onboarding employees in an inclusive way  {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Guidance on recruiting and onboarding employees in an inclusive way </h1>

      <p class="govuk-body-l">You should hire the best person for the job based on their application and interview.</p>

      <p class="govuk-body">You must avoid disability discrimination during the recruitment and selection process. Applicants are protected under the Equality Act 2010. <a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Read more about the Equality Act 2010 on GOV.UK (opens in new tab)</a>.</p>
     
      <p class="govuk-body">You can ask applicants if they need any reasonable adjustments. <a href="https://www.gov.uk/recruitment-disabled-people/reasonable-adjustments" target="_blank">Read more about reasonable adjustments on GOV.UK (opens in new tab)</a>.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/government/publications/employing-disabled-people-and-people-with-health-conditions/employing-disabled-people-and-people-with-health-conditions#why-recruit-disabled-people" target="_blank">Find out about the benefits of recruiting people with health conditions and disabilities on GOV.UK (opens in new tab)</a></p>

      <p class="govuk-body">These resources could help you to become a more inclusive employer, from advertising the role, to interviewing and onboarding.</p>

      <h2 class="govuk-heading-l">Resources for job adverts and interviewing</h2>

      <p class="govuk-body">The <a href="https://www.gov.uk/government/publications/employing-disabled-people-and-people-with-health-conditions/employing-disabled-people-and-people-with-health-conditions#how-to-recruit-disabled-people" target="_blank">guidance on GOV.UK (opens in new tab)</a> could help you to encourage applications from disabled people and avoid discrimination in job adverts.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.cipd.co.uk/knowledge/fundamentals/people/recruitment/inclusive-employers" target="_blank">Check the guide to inclusive recruitment on CIPD website. (opens in new tab)</a></li>
        <li><a href="https://abilitynet.org.uk/training/how-do-accessible-inclusive-recruitment" target="_blank">AbilityNet offer a course on accessible, inclusive recruitment (opens in new tab)</a></li>
        <li>Checking how <a href="https://businessdisabilityforum.org.uk/membership/members/" target="_blank">Business Disability Forum members (opens in new tab)</a> word their own job adverts could help you when advertising for your roles</li>
      </ul>

      <h2 class="govuk-heading-l">Resources for preventing discrimination and making adjustments</h2>

      <p class="govuk-body"></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/employer-preventing-discrimination" target="_blank">Find out more about preventing discrimination on GOV.UK. (opens in new tab)</a></li>
        <li><a href="https://www.nhs.uk/conditions/social-care-and-support-guide/money-work-and-benefits/work-and-disability/" target="_blank">Watch a video on how an employer adapted working arrangement for their employee with Motor neurone disease</a></li>
        <li>Employers can <a href="https://www.gov.uk/government/collections/disability-confident-campaign" target="_blank">sign up for the Disability Confident scheme (opens in new tab)</a></li>
      </ul>

      <h2 class="govuk-heading-l">Resources for inclusive onboarding</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://abilitynet.org.uk/news-blogs/top-tips-inclusive-and-accessible-onboarding" target="_blank">Find out more about inclusive and accessible onboarding on the AbilityNet website (opens in new tab)</a></li>
      </ul>

      <h2 class="govuk-heading-l">Resources for financial assistance </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Your employee could <a href="https://www.gov.uk/access-to-work" target="_blank">apply for Access to Work (opens in new tab) </a></li>
      </ul>

      <br>

      {{ govukButton({
        text: "Back to start",
        href: "sta-4"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
