{% extends "layouts/main.html" %}

{% block pageTitle %}
Have you considered or put into practice these options? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          Englishcd
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="adj-q6-routing">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-l">This section: managing a difficult situation</span>
              <h1 class="govuk-fieldset__heading">
                Have you considered or put into practice these options?
              </h1>
            </legend>
            <p class="govuk-body">
              You need to make sure you have supported your employee by:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>discussing what is and is not working</li>
              <li>putting any reasonable adjustments in place</li>
              <li>letting them know about possible financial help available</li>
              <li>getting help from Occupational Health</li>              
            </ul>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="have-you-considered-1" name="adjQ6" type="radio" value="yesTried">
                <label class="govuk-label govuk-radios__label" for="have-you-considered-1">
                  Yes, I have tried these but my employee still cannot work
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="have-you-considered-2" name="adjQ6" type="radio" value="noNotTried">
                <label class="govuk-label govuk-radios__label" for="have-you-considered-2">
                  No, I have not tried these options
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
