{% extends "layouts/main.html" %}

{% block pageTitle %}
Stay in touch with your employee {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Stay in touch with your employee</h1>
     
      <p class="govuk-body-l">You can contact your employee while they are off work. You should start a positive conversation as soon as possible. This will make your employee feel supported and more able to return.</p>

     <!--
          Your duty as an employer
      -->

      <h2 class="govuk-heading-l">Your duty as an employer</h2>

      <p class="govuk-body">As an employer, you have a duty to protect your employee's health, safety and welfare.</p>

      <p class="govuk-body">When talking to your employee, you need to be considerate not to exacerbate their health condition or disability. You should not discriminate against them directly or indirectly.</p>
      
      <p class="govuk-body">You should check any policies and procedures you have in place about communicating with your employees.</p>
      
      <p class="govuk-body"> Having regular conversations with your employee will help them to feel comfortable and supported.</p>

      <!--
          What to say to your employee
      -->

      <h2 class="govuk-heading-l">What to say to your employee</h2>

      <p class="govuk-body">Before your conversation, you should check any workplace policy you may have on absence management.</p>


      <p class="govuk-body">Let your employee know you support them but only talk to them about work when they are ready.</p>

      <p class="govuk-body">Use encouraging and supportive language such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>“Would you be comfortable...”</li>
        <li>“Let us know...”</li>
        <li>“Can we arrange...”</li>
      </ul>

      <!--
          What not to say
      -->

      <h2 class="govuk-heading-l">What not to say</h2>

      <p class="govuk-body">Try not to put pressure on your employee. Focus on the support they might need. If they have a long-term condition or disability, take care to ask if their absence is related and what that means for them.</p>

      <p class="govuk-body">You should not use forceful language such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>“Have you done this task?”</li>
        <li>“When will things be back to normal?”</li>
        <li>“We need to get you back as quickly as possible”</li>
      </ul>

      <!--
          How to stay in touch
      -->

      <h2 class="govuk-heading-l">How to stay in touch</h2>

      <p class="govuk-body">There are no rules about how often you get in touch, although you should consider whether you have a workplace policy on this. You and your employee should agree how often you will contact each other.</p>

      <p class="govuk-body">Use whatever method feels most appropriate for you both. For example, it could be an email, phone call or text message.</p>

      <p class="govuk-body">You should make a note of when you’ve been in touch and what you discussed. This can be a helpful reminder of what you agreed to do.</p>

      <br><br>

      {{ govukButton({
        text: "Continue",
        href: "est-q3"
      }) }}
      
    </div>
  </div>

{% endblock %}
