
{% extends "layouts/main.html" %}

{% block pageTitle %}
When did your employee go off work sick?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="date-test-answer" method="POST">



      <br><br>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-employee-left-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
             <span class="govuk-caption-xl">Employee absent due to sickness: what you need to do</span>
              When did your employee go off work sick?
            </h1>
          </legend>
          <div id="employeeLeaveDate-hint" class="govuk-hint">
            For example, 31 3 2021
          </div>
          <div class="govuk-date-input" id="employeeLeaveDate">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="TestDay">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="TestDay" name="TestDay" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['TestDay'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="TestMonth">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="TestMonth" name="TestMonth" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['TestMonth'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="TestYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="TestYear" name="TestYear" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['TestYear'] }}"></div>
            </div>
          </div>
      
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
      
    </div>
  </div>

  <div class="unbrandedFooter">
    <p class="govuk-body unbrandedJourneyName">Employee gone off sick - prototype B
      <span class="govuk-body unbrandedClearData"><a href="/index">Return to homepage</a></span>
    </p>
  </div>

{% endblock %}
