{% extends "layouts/main.html" %}

{% block pageTitle %}
Your rights as an employer {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Start of DIS-G1 summary content -->

      <h1 class="govuk-heading-xl">Your rights as an employer</h1>

      <p class="govuk-body-l">To meet your legal obligations you must consider all the options available to you before making any decision about your employees' future with your company.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          As an employer, you have certain obligations towards your employees.
        </strong>
      </div>

      <p class="govuk-body">This includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>ensuring their health, safety and welfare at work</li>
        <li>not discriminating against them</li>
        <li>putting adjustments in place where reasonable</li>
      </ul>

      <p class="govuk-body">To support them, you should make sure you have tried all options available, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>making sure adjustments are right for your employee</li>
        <li>letting your employee know about possible financial help available to them</li>
        <li>getting expert workplace health support from an Occupational Health service</li>
      </ul>

      <!--
        Protecting yourself and your business
      -->
      
      <h2 class="govuk-heading-l">Protecting yourself and your business</h2>

      <p class="govuk-body">You should make sure that you have followed your legal obligations and duties as an employer.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Check your legal obligations in the information and guidance on GOV.UK (opens in new tab)</a></li>
        <li><a href="https://www.hse.gov.uk/disability/adjustments.htm" target="_blank">Check information on your duties in protecting disabled employees on the HSE website (opens in new tab)</a></li>
        <li><a href="https://www.hse.gov.uk/disability/best-practice/the-law.htm" target="_blank">Find out more on the law around workplace adjustments on the HSE website (opens in new tab)</a></li>
      </ul>

      <!--
        Keeping a record of conversations and meetings
      -->

      <h2 class="govuk-heading-l">Keeping a record of conversations and meetings</h2>

      <p class="govuk-body">You must have kept a record of conversations or meetings you had with your employee. You should have noted:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when you’ve been in touch</li>
        <li>what you discussed and agreed on</li>
        <li>any timeframes that were set</li>
      </ul>

      <p class="govuk-body">The notes could help to protect your business. You might need to show evidence of communication with your employee about their health condition or disability if there is any employment tribunal litigation or as part of the dismissal process.</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must make sure that you are following the General Data Protection Regulation (GDPR).  
        </strong>
      </div>

      <p class="govuk-body">Everyone responsible for using personal data must follow data protection laws. You must make sure that your employee's personal data is used properly and lawfully.</p>

      <p class="govuk-body">Your employee might ask you not to share details of sensitive personal information (such as details of health conditions). You should ask for their consent to share their information, particularly if this is needed to obtain specialist advice.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/data-protection" target="_blank">Check more guidance on the GDPR (opens in new tab)</a></p>

      
      <!--
        If you have tried all options
      -->

      <h2 class="govuk-heading-l">If you have tried all options</h2>

      <p class="govuk-body">Dismissal should be a last resort. It should only be considered after you have tried all other options available.</p>

      <p class="govuk-body">It might be fair for you to dismiss your employee if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your employee cannot do their job because reasonable adjustments cannot be made</li>
        <li>the adjustments you have tried are not suitable or no longer effective</li>
      </ul>

      <p class="govuk-body">You should check further guidance and, if needed, seek legal advice on:</p>

      <ul class="govuk-list govuk-list--bullet">
             <li><a href="https://www.hse.gov.uk/disability/adjustments.htm" target="_blank">information on your duties in protecting disabled employees on the HSE website (opens in a new tab)</a></li>
             <li><a href="https://www.acas.org.uk/disability-discrimination" target="_blank">avoiding unlawful discrimination when dismissing an employee on Acas website (opens in a new tab)</a></li>
        <li><a href="https://www.equalityhumanrights.com/en/multipage-guide/avoiding-unlawful-discrimination-when-dismissing-worker" target="_blank">avoiding unlawful discrimination when dismissing an employee on EHRC (Equality and Human Rights Commission) website (opens in a new tab)</a></li>
   
      </ul>

      <!-- End of DIS-G1 summary content -->

      <br><br>

      {{ govukButton({
        text: "Continue",
        href: "sum-5"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
