{% extends "layouts/main.html" %}

{% block pageTitle %}
  Do you know what kind of illness your employee has? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "../start/sta-3"
      }) }}

      {{ govukRadios({
        idPrefix: "knowWhatIllnessB",
        name: "knowWhatIllnessB",
        fieldset: {
          legend: {
            text: "Do you know what kind of illness your employee has?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You’ll see relevant advice based on your employee’s condition."
        },
        items: [
          {
            value: "Yes",
            value: "Yes~/beta/sprint-3/prototype-B/establishing/est-q2",
            text: "Yes",
            checked: data['knowWhatIllnessB'] === 'Yes'
          },
          {
            value: "No",
            text: "No",
            checked: data['knowWhatIllnessB'] === 'No'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
