
{% extends "layouts/main.html" %}

{% block pageTitle %}
Have you talked to {{ data['employeeNameD']|default('your employee', true) }} to decide on the changes you will make?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      {{ govukBackLink({
        text: "Back",
        href: "could-employee-stay-at-work"
      }) }}

      <span class="govuk-caption-xl">Supporting an employee with an illness or disability</span>

      {{ govukRadios({
        idPrefix: "talkedAboutChangesD",
        name: "talkedAboutChangesD",
        value: data['talkedAboutChangesD'],
        fieldset: {
          legend: {
            text: "Have you talked to " + data['employeeNameD']|default('your employee', true) + " to decide on the changes you will make?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Changes will be more effective if you have an open conversation as early as you can."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: data['talkedAboutChangesD'] === 'Yes'
          },
          {
            value: "No~/alpha/sprint-5/disclose-condition/prototype-D/deciding-changes-at-work",
            text: "No",
            checked: data['talkedAboutChangesD'] === 'No'
          }
        ]
      }) }}
      
      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

  <div class="unbrandedFooter">
    <p class="govuk-body unbrandedJourneyName">Employee discloses condition - prototype D
      <span class="govuk-body unbrandedClearData"><a href="/index">Return to homepage</a></span>
    </p>
  </div>

{% endblock %}
