{% extends "layouts/main.html" %}

{% block pageTitle %}
Case study 2 {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Case study 2</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version A
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Ashley works at a gym. They have been nervous about coming in for their shifts following an argument with a very angry customer who used threatening language and behaviour.
          </p>
          <p class="govuk-body">Ashley’s manager notices that they're not as welcoming or chatty with customers as they were, are avoiding eye contact when working the front desk and no longer volunteers to lead classes</p>
          <p class="govuk-body">After a discussion with their manager, Ashley admits to being nervous and anxious following the attack. They love their job, but don't feel comfortable working alone or facing customers.</p>
          <p class="govuk-body">Their manager suggests Ashley takes a break from the front desk for a couple of weeks to work on securing and checking equipment and supplies.</p>
          <p class="govuk-body">It's also suggested that all staff work in a pairs when opening up and closing the gym, so no one is ever working on their own.</p>
          <p class="govuk-body">They agree to meet in a couple of weeks to see how the anxiety levels are following the change in working. Ashley now feels comfortable observing classes and is working towards leading a session in a couple of weeks. They're also working with a buddy on the front desk one shift a week for a trail period.</p>
        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version B
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">A gym employee was verbally attacked by a customer at the gym they work at.</p>

          <p class="govuk-body">Following the attack they:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>feel nervous about coming in for their shifts</li>
            <li>are not as welcoming or chatty to customers</li>
            <li>no longer make eye contact with customers</li>
            <li>no longer volunteer to lead gym classes</li>
          </ul>

          <h2 class="govuk-heading-m">After a discussion with their manager</h2>

          <p class="govuk-body">The employer suggests the employee:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>takes a break from customer-facing tasks</li>
            <li>works on securing and checking equipment and supplies</li>
          </ul>

          <p class="govuk-body">It’s also suggested that all staff work in pairs when opening and locking up the gym.</p>
          <p class="govuk-body">They agree to meet in a couple of weeks following the change in working.</p>
          <p class="govuk-body">The employee now feels comfortable observing classes and is working towards leading a session in a couple of weeks. They're also working with a buddy on the front desk one shift per week for a trial period.</p>

        </div>
      </details>




      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version C
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Ashley was verbally attacked in the gym where they work.
          This triggered an existing anxiety condition.</p>
          <p class="govuk-body">Their manager and team notice their change in behaviour.</p>
          <p class="govuk-body">They suggest moving away from customer facing tasks for a couple of weeks.</p>
          <p class="govuk-body">Ashley’s confidence grows and they are ready to lead classes again and work with customers. </p>
    
        </div>
      </details>


      

   <br />
   

      <br>
           
    </div>
  </div>

{% endblock %}
