{% extends "layouts/main.html" %}

{% block pageTitle %}
Case study 4 {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Case study 4</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version A
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Rachel is Maître D in a busy hotel restaurant. It’s a high pressure role and she represents the restaurant in the customer-facing position. She started menopause a couple of years ago.</p>
          <p class="govuk-body">Rachel’s symptoms have developed recently. She is finding it difficult to concentrate. She sometimes forgets customer requests and requirements, and has difficulty remembering menu and wine pairing changes.</p>
          <p class="govuk-body">She has worked at the restaurant for many years but her increasing anxiety levels and tiredness mean that she has begun questioning her future there.</p>
          <p class="govuk-body">The restaurant and kitchen are already hot, and her role means that Rachel is always on her feet. When a hot flush comes it can be very uncomfortable and embarrassing, especially if she is dealing with a customer complaint.</p>
          <p class="govuk-body">She feels there is no time to take extra breaks to freshen up or to try to manage the flushes privately.</p>         
          <p class="govuk-body">Rachel has not discussed her symptoms with the restaurant manager as he is just starting out his career in the industry and she does not want to bother him.</p>
          <p class="govuk-body">Rachel mentions in a conversation with the head server that she has been very tired lately and is embarrassed about sweating in front of customers.</p>
          <p class="govuk-body">The head server agrees to cover the maitre d duties when needed but it must be agreed with the manager. Rachel tells her manager that this will be happening for a trial period.</p>
          <p class="govuk-body">The restaurant manager researches menopause and sets up an awareness training session for all staff to understand customer needs, as well as possible staff requirements.</p>
          <p class="govuk-body">It’s agreed that Rachel will work more closely with the head server and will take rest breaks when they are needed.</p>


        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version B
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Rachel is Maître D in a busy restaurant and is going through menopause.</p>

          <h2 class="govuk-heading-m">This means:</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>it is difficult for Rachel to concentrate in the noisy and busy environment</li>
            <li>it makes her very uncomfortable and embarrassed during a hot flush</li>
            <li>it increases her anxiety when dealing with customers</li>
            <li>she is forgetting menu changes</li>
          </ul>

          <h2 class="govuk-heading-m">Rachel meets with the head server</h2>

          <p class="govuk-body">They discuss options available to them to manage the symptoms at work including:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the head server covering Maître D duties when Rachel needs to freshen up or take a quick break</li>
            <li>Rachel will let the restaurant manager know about how symptoms are affecting her role</li>
          </ul>


          <h2 class="govuk-heading-m">Rachel meets with her manager</h2>

          <p class="govuk-body">It’s agreed that:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>for a trial period the head server will cover maitre d duties when needed</li>
            <li>Rachel’s manager will research menopause to get a greater understanding</li>
            <li>all staff will attend a menopause awareness training course to understand customer needs, as well as possible staff requirements</li>
          </ul>

          <p class="govuk-body">Rachel has regular catchups with her manager to discuss how she is managing her menopause.</p>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Version C
          </span>
        </summary>
        <div class="govuk-details__text">

          <p class="govuk-body">Rachel is Maître D in a busy restaurant and is going through menopause.</p>
          <p class="govuk-body">She is anxious and embarrassed about some of her symptoms and this is affecting her customer-facing role.</p>
          <p class="govuk-body">Rachel agrees with her manager that, for a trial period, other staff can cover her duties when she needs a quick break during service. All staff attend a menopause awareness course.</p>
          <p class="govuk-body">They catch up regularly to check the symptoms are being managed effectively.</p>

        </div>
      </details>
     

   <br />
   

      <br>
           
    </div>
  </div>

{% endblock %}
