
{% extends "layouts/main.html" %}

{% block pageTitle %}
What kind of illness does your employee have? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}


    <!--
        Full section may need renaming
        
        Delete comment once renaming complete
    -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="est-g4" method="POST">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What kind of illness does your employee have?
            </h1>
          </legend>
          <div id="illnessType-hint" class="govuk-hint">
            You’ll see relevant advice based on your employee’s condition.
          </div>
          <div id="illnessType-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="illnessType" type="checkbox" value="mentalHealth">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                A mental health condition
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="physicalCondition" name="illnessType" type="checkbox" value="physicalCondition">
              <label class="govuk-label govuk-checkboxes__label" for="physicalCondition">
                A physical condition
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="Coronavirus" name="illnessType" type="checkbox" value="coronavirus">
              <label class="govuk-label govuk-checkboxes__label" for="Coronavirus">
                Coronavirus (COVID-19)
              </label>
            </div>
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="somethingElse" name="illnessType" type="checkbox" value="somethingElse">
                <label class="govuk-label govuk-checkboxes__label" for="somethingElse">
                    Something else
                </label>
              </div>
          </div>

          <!-- {{ data['illnessType'] === 'checked'}} -->
      
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
      
    </div>
  </div>

{% endblock %}
