{% extends "layouts/main.html" %}

{% block pageTitle %}
If you think you cannot make the changes your employee needs {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">If you think you cannot make the changes your employee needs</h1>

      <p class="govuk-body-l">Before you decide that there's nothing you can do for your employee, be careful that you are not discriminating against them.</p>

      <h2 class="govuk-heading-l">The law on making changes</h2>

      <p class="govuk-body">If your employee is disabled, you must make reasonable adjustments if they would otherwise be substantially disadvantaged in doing their job.</p>

      <p class="govuk-body">The law defines disability as something physical or mental which has a ‘substantial’ and ‘long-term’ effect on someone’s ability to do normal daily activities.</p>
      
      <p class="govuk-body">For more, <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010" target="_blank">see the definition of disability under the Equality Act 2010 (opens in new tab)</a>.</p>

      <h2 class="govuk-heading-l">What is reasonable?</h2>

      <p class="govuk-body">What is ‘reasonable’ will depend on your business. It would be helpful for you to consider the extent to which any change could help overcome the disadvantage faced by your employee.</p>

      <p class="govuk-body">You can also consider things such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how practical and effective it is to make an adjustment</li>
        <li>the cost of the adjustment</li>
        <li>the size of your business</li>
        <li>the resources available to you</li>
        <li>the benefit to your employee</li>
      </ul>

      <h2 class="govuk-heading-l">Examples of reasonable adjustments</h2>

      <p class="govuk-body">Some changes could seem small to you but to someone with a health condition or disability they can make a big difference.</p>

      <p class="govuk-body">For example, if you work with employees with dyslexia, you could:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>give verbal as well as written instructions for tasks</li>
        <li>change the background colour of presentations</li>
      </ul>

      <p class="govuk-body">If an employee uses a wheelchair and you do not have space for a lift, you would not need to change premises. But you would need to consider other ways for them to be able to do their job, such as working from somewhere else.</p>

      <p class="govuk-body">These are reasonable adjustments.</p>

      <p class="govuk-body">For more information and guidance check the following websites (all links open in new tabs): </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/recruitment-disabled-people/reasonable-adjustments" target="_blank">reasonable adjustments for workers with disabilities or health conditions on GOV.UK</a></li>
        <li><a href="https://www.equalityhumanrights.com/en/multipage-guide/employment-workplace-adjustments" target="_blank">workplace adjustments guidance on Equality and Human Rights Commission (EHRC)</a></li>
        <li><a href="https://abilitynet.org.uk/factsheets/what-are-reasonable-adjustments" target="_blank">What are reasonable adjustments on AbilityNet website</a></li>
      </ul>

      <br>

      {{ govukButton({
        text: "Continue",
        href: "adj-q3"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
