{% extends "layouts/main.html" %}

{% block pageTitle %}
Considering what is reasonable {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Considering what is reasonable</h1>

      <p class="govuk-body-l">What is ‘reasonable’ will depend on your business. If your employee is disabled, some changes might be legally required.</p>

      <p class="govuk-body">It would be helpful for you to consider the extent to which any change could help overcome the disadvantage faced by your employee.</p>

      <p class="govuk-body">You can also consider things such as:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how practical and effective it is to make an adjustment</li>
        <li>the cost of the adjustment</li>
        <li>the size of your business</li>
        <li>the resources available to you</li>
        <li>the benefit to your employee</li>
      </ul>
      
      <p class="govuk-body">If an employee uses a wheelchair and you do not have space for a lift, you would not need to change premises. But you would need to consider other ways for them to be able to do their job, such as working from somewhere else.</p>

      <h2 class="govuk-heading-l">Considering dismissing an employee</h2>

      <p class="govuk-body">Dismissals should always be the last resort. You might feel that you have considered all possible options available to you as an employer to support your employee.
      </p>

      <p class="govuk-body">If you still feel that dismissal is required, you should check your legal responsibilities before taking any action. There are organisations that can help you, including those listed below. The following links all open in new tabs:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.acas.org.uk/disability-discrimination" target="_blank">Acas (Advisory, Conciliation and Arbitration Service) has guidance on avoiding unlawful discrimination when dismissing an employee</a></li>
        <li><a href="https://www.equalityhumanrights.com/en/multipage-guide/avoiding-unlawful-discrimination-when-dismissing-worker" target="_blank">EHRC (Equality and Human Rights Commission) has information on avoiding unlawful discrimination when dismissing a worker</a></li>
        <li><a href="https://www.hse.gov.uk/disability/adjustments.htm" target="_blank">HSE (Health and Safety Executive) has information on your duties in protecting disabled employees</a></li>
      </ul>
    
      <br>

      {{ govukButton({
        text: "Continue",
        href: "adj-g5"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
