{% extends "layouts/main.html" %}



{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
    onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
</div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Support with employee health and disability guidance sections
      </h1>




      <p>Access the optional guidance by clicking the top link of text within the guidance sections, and then click the summary page button at the bottom of the screen when finished.</p>





      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <h2 class="govuk-heading-m">Paying your employee sick pay (optional)</h2>
              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="sta-q2" aria-describedby="before-you-start-1-status">
                      Check eligibility
                    </a>
                  </div>
                  <div class="govuk-task-list__status" id="before-you-start-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  </div>
                </li>
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                      <div>
                        Statutory Sick Pay guidance
                      </div>
               
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                        <strong class="govuk-tag govuk-tag--blue">
                          Incomplete
                        </strong>
                      </div>
                  </li>
              </ul>
              <h2 class="govuk-heading-m govuk-!-margin-top-5">Conversations with employee (optional)</h2>
              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-1-status">
                      Stay in touch with your employee
                    </a>
                  </div>
                  <div class="govuk-task-list__status" id="before-you-start-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                  
                        Asking about health or disability
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
                <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                      <div>
                        Health and disability guidance
                      </div>
               
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                        <strong class="govuk-tag govuk-tag--blue">
                          Incomplete
                        </strong>
                      </div>
                  </li>
                  <li class="govuk-task-list__item">
                    <div class="govuk-task-list__name-and-hint">
                      <div>
                        When to contact your employee
                      </div>
               
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                        <strong class="govuk-tag govuk-tag--blue">
                          Incomplete
                        </strong>
                      </div>
                  </li>
              </ul>
         

              <h2 class="govuk-heading-m govuk-!-margin-top-5">Work adjustments (optional)</h2>
              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-1-status">
                        Discussing possible changes
                    </a>
                  </div>
                  <div class="govuk-task-list__status" id="before-you-start-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                  
                        Workplace adjustment examples
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
  
              </ul>




              <h2 class="govuk-heading-m govuk-!-margin-top-5">Helpful changes (optional)</h2>
              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-1-status">
                        Putting workplace changes in place
                    </a>
                  </div>
                  <div class="govuk-task-list__status" id="before-you-start-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                  
                        The law around making changes
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>

                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                  
                        Get expert workplace health support
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
  
              </ul>




              <h2 class="govuk-heading-m govuk-!-margin-top-5">Managing difficult conversations (optional)</h2>
              <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                  <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-1-status">
                        Options you can consider
                    </a>
                  </div>
                  <div class="govuk-task-list__status" id="before-you-start-2-status">
                    <strong class="govuk-tag govuk-tag--blue">
                      Incomplete
                    </strong>
                  </div>
                </li>
                <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                  
                        Your rights as an employer
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
                </ul>




                <h2 class="govuk-heading-m govuk-!-margin-top-5">Keeping a record of changes (optional)</h2>
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="before-you-start-1-status">
                        How to navigate conversations
                      </a>
                    </div>
                    <div class="govuk-task-list__status" id="before-you-start-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Incomplete
                      </strong>
                    </div>
                  </li>
              
                  </ul>


<br>
<br>



              <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
                Finish and go to summary
              </button>

              </div>
            </div>
          </div>
        </main>
      </div>










        

        
    </div>
  </div>

{% endblock %}