{% extends "layouts/main.html" %}

{% block pageTitle %}
Have regular meetings with your employee {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Start of ADJ-G10 summary content -->

      <span class="govuk-caption-l">This section: keeping a record of changes</span>

      <h1 class="govuk-heading-xl">Have regular meetings with your employee</h1>

      <p class="govuk-body">Talk regularly to your employee to make sure they feel supported and that any changes put in place are still right for them. Some conditions will vary over time, and others will have good and bad days. Try to accommodate this kind of change.</p>
<p class="govuk-body">You should agree how often you will talk together. Choose a method of communication that works for both of you.</p>
      

      <p class="govuk-body"><a href="https://www.hse.gov.uk/disability/best-practice/talking-toolkit.htm" target="_blank">Read the 'Talking toolkit - Support disabled workers and workers with long term health conditions' available on the HSE website (opens in new tab)</a></p>

      
      
      <h2 class="govuk-heading-m">Keep a record of agreed changes or reasonable adjustments</h2>

      
      <p class="govuk-body">A reasonable adjustment plan is useful for this.</p>
      <p class="govuk-body"><a href="https://www.gov.uk/reasonable-adjustments-for-disabled-workers" target="_blank">Check the guidance on reasonable adjustments on GOV.UK (opens in new tab)</a>.</p>


      <!--
       Keeping information private
      -->

      <h2 class="govuk-heading-m">Keeping information private</h2>

      

      <p class="govuk-body">Everyone who is responsible for using personal data must comply with data protection laws. You must make sure that your employee's personal data is used properly and lawfully.</p>
      <p class="govuk-body"><a href="https://www.gov.uk/personal-data-my-employer-can-keep-about-me" target="_blank">See what personal data an employer can keep about an employee (opens in new tab)</a></p>

      <p class="govuk-body">Your employee might ask you not to share sensitive personal information (such as details of health conditions). You should ask for their consent if you need share their information to put adjustments in place or to keep them safe at work.</p>



      <!--
        Support from occupational health
      -->

      <h2 class="govuk-heading-m">Support from occupational health</h2>

      <p class="govuk-body">If the situation changes, you can get advice from an occupational health provider. Although there is a cost for these services, helping your employees to stay healthy can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li> reduce absences</li>
        <li> prevent problems getting worse</li>
        <li> save money in the long run by taking the right actions early on</li>
      </ul>



      <p class="govuk-body"><a href="https://www.acas.org.uk/using-occupational-health-at-work" target="_blank">Read more about using occupational health services on the Acas website (opens in new tab)</a></p>      
     
      <!-- End of ADJ-G10 summary content -->

      <br>

      {{ govukButton({
        text: "Continue to my summary",
        href: "sum-5"
      }) }}
      
    </div>
  </div>

{% endblock %}
