{% extends "layouts/main.html" %}

{% block pageTitle %}
Discussing possible changes your employee might need  {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">This section: considering adjustments and additional help</span>

      <h1 class="govuk-heading-xl">Discussing possible changes your employee might need</h1>
     
      <p class="govuk-body">Many disabled people and people with health conditions want to continue working. Work brings more than just financial benefits – it also gives a sense of purpose and community. To support your employee, you should discuss what changes they might need to their role or workplace.</p>
      <h2 class="govuk-heading-m">How to talk to your employee about what they need</h2>

      <p class="govuk-body">Ask your employee what changes to their job, workplace or ways of working they need. Talk about what they feel capable of doing as well as what they find challenging.</p>
      
      <h3 class="govuk-heading-s">Let your employee lead</h3>

      <p class="govuk-body">You can be proactive and start a conversation, but let your employee lead where they can.</p>

      <p class="govuk-body">Use open-ended questions like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>“Is there anything in the workplace that is making things more challenging for you?”</li>
        <li>“What can we do to help in the short and long term? Are things likely to change over time”</li>
        <li>“What specific part(s) of your job are worrying you? How can we help with that?”</li>
      </ul>

      <h3 class="govuk-heading-s">Support them over time</h3>

      <p class="govuk-body">Supporting your employee should be an ongoing process. Give them time to think and come back to the conversation later if you or they need to.

      After your first chat, decide whether you need to talk again to review the changes you agreed.</p>

      <p class="govuk-body">Make a note of what you discuss with your employee and when you will talk again. This can be a helpful reminder of what you need to do.</p>

      <p class="govuk-body">You should regularly review any changes you decide to make. These can be temporary as health conditions can change over time.</p>

      <p class="govuk-body">Both you and your employee should be comfortable with any changes made. This includes identifying, understanding and finding possible solutions to any work barriers.</p>

      <p class="govuk-body"><a href="https://www.hse.gov.uk/disability/best-practice/understand-barriers.htm" target="_blank">Read about supporting disabled workers and workers with a long term health conditions on the HSE website (opens in new tab)</a>.</p>
      
      <p class="govuk-body">Always refer to any policies you have in place. </p>
      <p class="govuk-body"><a href="https://www.acas.org.uk/templates-for-employers" target="_blank">Downloadable workplace policy templates on the Acas website (opens in new tab)</a></p>

      <br>
      
      <p class="govuk-body"><strong>Next page:</strong> more guidance on considering adjustments and additional help</p>


      {{ govukButton({
        text: "Continue",
        href: "com-q5"
        }) 
      }}

    {{ govukButton({
      text: "Finish and go to summary",
      classes: "govuk-button--secondary",
      href: "skip-4"
    }) }}
      
    </div>
  </div>

{% endblock %}
