{% extends "layouts/main.html" %}

{% block pageTitle %}
Talk to your employee {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">This section: having conversations with your employee</span>

      <h1 class="govuk-heading-xl">Talk to your employee</h1>
     
      <p class="govuk-body">Start a conversation with your employee as soon as you can. Let your employee know you support them and give them time if they need it.</p>

      <!--
          What to say to your employee
      -->

      <h2 class="govuk-heading-m">How to start</h2>

      <p class="govuk-body">Some people might be reluctant to start a conversation, so it's okay to make the first move. You should:</p>

    

      <ul class="govuk-list govuk-list--bullet">
        <li>listen and be open to what they say</li>
        <li>be patient and let the conversation develop gradually</li>
        <li>notice the words they prefer to use and use those words yourself</li>
        <li>let them know you understand that they might need changes to their job or workplace</li>
      </ul>

      <!--
          What not to say
      -->

      <h2 class="govuk-heading-m">What to keep in mind</h2>

      <p class="govuk-body">Your employee will not want to be patronised or treated differently, but it’s okay to take some steps to support their unique needs.</p>

      <p class="govuk-body">All employees are legally protected from discrimination in the workplace. This duty of care comes under the <a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank"> Equality Act 2010 (opens in new tab)</a>.</p>
      <p class="govuk-body">You should avoid:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>making assumptions about how their condition might affect them</li>
        <li>using terms like ‘suffering from’ which suggests they are a victim</li>
        <li>assuming they will need your help (it's okay if they decline, but remember to check again later)</li>
      </ul>


      <!--
          Talk regularly
      -->

      <h2 class="govuk-heading-m">Talk regularly</h2>

      <p class="govuk-body">Many conditions change over time, so it's important to talk regularly to make sure any support is still working.</p>

      <p class="govuk-body">You should agree how often you will talk together. Depending on your situation, once a week or once a month might work.</p>

      <h2 class="govuk-heading-m">Keep a record of discussions</h2>

      <p class="govuk-body">Make a note of the dates of all conversations you have and what was discussed. This can be a helpful reminder of what you agreed to do.</p>

      <p class="govuk-body">Keep health information private. If you need to share it with colleagues, get your employee's consent first.</p>

      <p class="govuk-body"><a href="https://www.hse.gov.uk/disability/best-practice/understand-barriers.htm" target="_blank">Read about supporting disabled workers and workers with a long term health conditions on the HSE website (opens in new tab)</a>.</p>

      
      <br><br>

      <p class="govuk-body"><strong>Next section:</strong> considering adjustments and additional help</p>

        {{ govukButton({
          text: "Continue",
          href: "com-g2"
          }) 
        }}

      {{ govukButton({
        text: "Finish and go to summary",
        classes: "govuk-button--secondary",
        href: "skip-5"
      }) }}
    </div>
  </div>

{% endblock %}
