{% extends "layouts/main.html" %}

{% block pageTitle %}
Your rights as an employer {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- Start of DIS-G1 summary content -->

      <span class="govuk-caption-l">This section: managing a difficult situation</span>

      <h1 class="govuk-heading-xl">Your obligations as an employer</h1>

      <p class="govuk-body">As an employer, you have certain legal obligations towards your employees. To meet them you must consider all the options available to you before making any decision about your employee’s future with your company.</p>

     

      <p class="govuk-body">These options include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>ensuring their health, safety and welfare at work</li>
        <li>not discriminating against them</li>
        <li>putting adjustments in place where reasonable</li>
        <li>letting your employee know about possible financial help available to them</li>
        <li>getting expert workplace health support from an Occupational Health service</li>
      </ul>

      
     

      <!--
        Protecting yourself and your business
      -->
      
      <h2 class="govuk-heading-m">Information to protect yourself and your business</h2>


      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/guidance/equality-act-2010-guidance" target="_blank">Equality Act 2000 – guidance on GOV.UK (opens in new tab)</a></li>
        <li><a href="https://www.hse.gov.uk/disability/adjustments.htm" target="_blank">Employers’ duties in protecting disabled workers - HSE (opens in new tab)</a></li>
        <li><a href="https://www.hse.gov.uk/disability/best-practice/the-law.htm" target="_blank">Principles to support disabled workers with long-term health conditions in work - HSE (opens in new tab)</a></li>
      </ul>

      <!--
        Keeping a record of conversations and meetings
      -->

      <h3 class="govuk-heading-m">Keep a record of conversations and meetings</h3>

      <p class="govuk-body">You must keep a record of conversations or meetings you have with your employee. You should make a note of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when you’ve been in touch</li>
        <li>what you discussed and agreed on</li>
        <li>any timeframes that were set</li>
      </ul>

      <p class="govuk-body">These notes could help to protect your business. You might need to show evidence of communication with your employee about their health condition or disability if there is any employment tribunal litigation or as part of the dismissal process.</p>

      <h3 class="govuk-heading-m">Make sure you follow the Data Protection Act 2018</h3>

      <p class="govuk-body">Everyone responsible for using personal data must follow data protection laws. You must make sure that your employee's personal data is used properly and lawfully.</p>

      <p class="govuk-body">Your employee might ask you not to share details of sensitive personal information (such as details of health conditions). You should ask for their consent to share their information, particularly if this is needed to obtain specialist advice.</p>

      <p class="govuk-body"><a href="https://www.gov.uk/personal-data-my-employer-can-keep-about-me" target="_blank">See what personal data an employer can keep about an employee (opens in new tab)</a></p>

      
      <!--
        If you have tried all options
      -->

      <h2 class="govuk-heading-m">If you have tried all available options</h2>

      <p class="govuk-body">Dismissal should be a last resort and only be considered after you have tried all other options.</p>

      <p class="govuk-body">It might be fair for you to dismiss your employee if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your employee cannot do their job because reasonable adjustments cannot be made</li>
        <li>the adjustments you have tried are not suitable or no longer effective</li>
      </ul>

      <p class="govuk-body">See guidance and, if needed, seek legal advice on:</p>

      <ul class="govuk-list govuk-list--bullet">
             <li><a href="https://www.hse.gov.uk/disability/adjustments.htm" target="_blank">your duties in protecting disabled employees on the HSE website (opens in a new tab)</a></li>
             <li><a href="https://www.acas.org.uk/disability-discrimination" target="_blank">avoiding unlawful discrimination when dismissing an employee on Acas website (opens in a new tab)</a></li>
        <li><a href="https://www.equalityhumanrights.com/en/multipage-guide/avoiding-unlawful-discrimination-when-dismissing-worker" target="_blank">avoiding unlawful discrimination when dismissing an employee on EHRC (Equality and Human Rights Commission) website (opens in a new tab)</a></li>
   
      </ul>

      <!-- End of DIS-G1 summary content -->

      <br />

      {{ govukButton({
        text: "Continue to my summary",
        href: "sum-5"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
