{% extends "layouts/main.html" %}

{% block pageTitle %}
When did your employee go off work? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="ssp-routing" method="POST">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-employee-left-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              When did your employee go off work?
            </h1>
          </legend>
          <div id="employeeLeaveDate-hint" class="govuk-hint">
            For example, 15 1 2023
          </div>
          <div class="govuk-date-input" id="employeeLeaveDate">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="employeeLeaveDateDayA">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="employeeLeaveDateDayA" name="employeeLeaveDateDayA" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['employeeLeaveDateDayA']}}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="employeeLeaveDateMonthA">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="employeeLeaveDateMonthA" name="employeeLeaveDateMonthA" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['employeeLeaveDateMonthA']}}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="employeeLeaveDateYearA">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="employeeLeaveDateYearA" name="employeeLeaveDateYearA" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['employeeLeaveDateYearA']}}"></div>
            </div>
          </div>
      
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
      
    </div>
  </div>

{% endblock %}
