{% extends "layouts/main.html" %}

{% block pageTitle %}
Making changes to ways of working {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}
<!-- PHASE BANNER -->
<main>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new window)</a> will help us to
        improve it.
      </span>
    </p>
  </div>
</main>

<div class="govuk-grid-row govuk-!-padding-bottom-3">

  <!-- BACK BUTTON -->
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-1"> <a href=""
      onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>
  </div>
  <!-- BACK BUTTON END -->

  <!-- WELSH TOGGLE -->
  <div class="govuk-grid-column-one-third govuk-!-margin-top-1">
    <nav class="dwp-language-toggle" aria-label="Language toggle">
      <ul class="dwp-language-toggle__list">
        <li class="dwp-language-toggle__list-item">
          English
        </li>
        <li lang="cy" class="dwp-language-toggle__list-item">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <a href="?lang=cy" class="govuk-link">Cymraeg</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- WELSH TOGGLE END -->
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">This section: considering adjustments and additional help</span>

    <h1 class="govuk-heading-xl">Agreeing changes to ways of working</h1>

    <p class="govuk-body">Changes to hours, shift patterns or policies can help your employee do their best at work. These changes could include allowing an employee to start their day later or encouraging regular screen breaks.</p>

    <p class="govuk-body">Consider and agree each change with your employee and review these regularly. Changes are sometimes temporary as health conditions can have different needs over time.</p>

    <h2 class="govuk-heading-m">If you have workplace policies</h2>

    <p class="govuk-body">You should refer to any policies you have in place around absences, health and disability, or health and safety. Both temporary and permanent changes could support them.</p>

    <h2 class="govuk-heading-m">Examples of changes to ways of working</h2>

    <p class="govuk-body">If these examples are not relevant to you, you might still be able to use some of the ideas and processes. These might be scheduling regular catch-ups or putting a temporary buddy system in place.</p>

    <p class="govuk-body">Select the text below to expand the worked examples.</p>

      <!--
          MENTAL HEALTH
      -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out how a gym owner supported a member of staff with a temporary mental health condition.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee was verbally attacked by a customer at the gym.</p>

        <p class="govuk-body">Following this incident:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the employee felt nervous about coming in for shifts</li>
          <li>colleagues noticed the employee was not as welcoming or chatty to customers as usual</li>
          <li>the employee didn't feel comfortable leading exercise classes alone</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>
        
        <p class="govuk-body">The gym owner noticed a change in the employee and set up a meeting to discuss possible support. The employer researched mental health awareness training to help them understand how best to support staff if this situation were to happen again.</p>
        
        <p class="govuk-body">At the meeting the employer suggested:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the employee takes a short break from customer-facing tasks</li>
          <li>all staff work in pairs when opening and locking up the gym</li>
          <li>staff who take classes alone are to have a buddy – a colleague who joins the class as an observer</li>
        </ul>

        <p class="govuk-body">They agreed to meet again a couple of weeks after the changes had been put in place to see if they're helping the employee manage their anxiety.</p>
        
        <h3 class="govuk-heading-s">What happened next</h3>
        
        <p class="govuk-body">The employee felt comfortable running classes and agreed to try leading a session on their own in a couple of weeks. They're also working one shift a week on the front desk with a buddy for a trial period.</p>
        
        <h3 class="govuk-heading-s">What's happening now</h3>
        
        <p class="govuk-body">They now have regular meetings to talk about any issues and to discuss and agree on any changes needed. The employer makes sure that notes from their meetings are kept private.</p>

      </div>
    </details>

      <!--
          MENOPAUSE
      -->

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Find out how a shop owner supported their employee to manage their menopause symptoms in the workplace.
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">An employee at a busy shop was experiencing menopause symptoms.</p>

        <p class="govuk-body">They found that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>it was difficult to concentrate in the noisy and busy environment</li>
          <li>they felt uncomfortable and embarrassed during a hot flush</li>
          <li>their anxiety increased when dealing with customers</li>
          <li>they got upset if they forgot stock and pricing changes</li>
        </ul>

        <h3 class="govuk-heading-s">What happened first</h3>

        <p class="govuk-body">The manager noticed the change in the employee. They set up a meeting with the employee to find out how they could support them.</p>

          <p class="govuk-body">The employee told their manager that they were going through menopause. They discussed how the symptoms were affecting the employee’s role and the available options to help manage the symptoms at work. They agree to meet again in a week.</p>

        <h3 class="govuk-heading-s">What happened next</h3>

        <p class="govuk-body">They agreed that:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>for a trial period, a colleague will cover customer-facing duties when the employee needs to freshen up or take a quick break</li>
          <li>the manager will research menopause symptoms to better understand how to support their employee</li>
        </ul>

        <h3 class="govuk-heading-s">What's happening now</h3>

        <p class="govuk-body">The employee and manager have regular catch-ups. They discuss how the employee is managing the menopause, if the temporary changes are helping and if any other support is needed.</p>

       </div>
    </details>


    

     <br>

     <p class="govuk-body"><strong>Next page:</strong> more guidance on considering adjustments and additional help</p>

    
    {{ govukButton({
      text: "Continue",
      href: "rea-c2"
      }) 
    }}

  {{ govukButton({
    text: "Finish and go to summary",
    classes: "govuk-button--secondary",
    href: "skip-4"
  }) }}
      
    </div>
  </div>

{% endblock %}
