{% extends "layouts/main.html" %}

{% block pageTitle %}
Ask about your employee’s disability or health condition {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Ask about your employee’s disability or health condition</h1>

      <p class="govuk-body">You should ask your employee about their disability or health condition. Start with a general chat about how they are and how the condition might affect them.</p>

      <p class="govuk-body">Your employee does not have to tell you about their disability or health condition. You should avoid asking for too many details, or pushing them to be certain about things too soon.</p>

      <p class="govuk-body">You can return to this website later for more advice on supporting your employee by making any changes they need.</p>
      
      <br>

      {{ govukButton({
        text: "Continue to summary",
        href: "sum-5"
        }) 
      }}
      
    </div>
  </div>

{% endblock %}
