{% extends "layouts/main.html" %}

{% block pageTitle %}
Checklist for deciding on changes at work {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Deciding on changes at work</h1>

      <p class="govuk-body-l">Identify changes that might help your employee by working through the areas below. Consider each one together with your employee.
      </p>
      <hr />
      <br />
      <h2 class="govuk-heading-m">Ways of working</h2>
      <p class="govuk-body">Changes to hours, shift patterns or other policies can help your employee do their best at work.</p>
      <p class="govuk-hint"><strong>Example:</strong> <em>if depression can make it difficult for someone to start their day, allow them to come in later.</em></p>
      <p class="govuk-hint"><strong>Example:</strong> <em>for someone with migraines, more regular screen breaks might help.</em></p>
      <br />
        <hr />
   <br />
      <h2 class="govuk-heading-m">Work environment</h2>
      <p class="govuk-body">This might include things like desk space, equipment and noise levels. These changes can make the work environment less challenging.</p>
      <p class="govuk-hint"><strong>Example:</strong> <em>a place to work away from distractions can help someone who is feeling overwhelmed by stress.</em></p>
      <p class="govuk-hint"><strong>Example:</strong> <em>someone who uses mobility aids might need an accessible parking space.</em></p>
      <br />
        <hr />

    <br />
   <h2 class="govuk-heading-m">Extra help</h2>
   <p class="govuk-body">It might help your employee to have someone to help with parts of their job or how they access work.</p>
   <p class="govuk-hint"><strong>Example:</strong> <em>if your employee is returning to work, a buddy system could help them feel supported.</em></p>
   <p class="govuk-hint"><strong>Example:</strong> <em>for someone with temporary hearing loss, give their phone responsibilities to someone else.</em></p>
   <br />
     <hr />
  <br />
 
<p class="govuk-body">You should review any changes you make regularly. Changes are sometimes temporary and health conditions can change over time.</p>

<p class="govuk-body">Decide together when you will meet again and how often will work for you both.</p>

      <br>

      {{ govukButton({
        text: "Continue",
        href: "adj-q2"
      }) }}
      
    </div>
  </div>

{% endblock %}
