
{% extends "layouts/main.html" %}

{% block pageTitle %}
Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Home
      </h1>

      <h2 class="govuk-heading-m">Live service</h2>

      <p><a href="../release-4-2-0/prototype-A/sta-4.html">Link to the live service</a></p>

      <h2 class="govuk-heading-m">Case study examples</h2>

        <p><a href="prototype-A/cs-1">Case study 1</a></p>
        <p><a href="prototype-A/cs-2">Case study 2</a></p>
        <p><a href="prototype-A/cs-3">Case study 3</a></p>
        <p><a href="prototype-A/cs-4">Case study 4</a></p>

      <h2 class="govuk-heading-m">Case study layout</h2>

        <p><a href="prototype-A/rea-c1">Example 1</a></p>
        <p><a href="prototype-A/rea-c2">Example 2</a></p>
        <p><a href="prototype-A/rea-c3">Example 3</a></p>

      </div>
  </div>

{% endblock %}
