{% extends "layouts/main.html" %}

{% block pageTitle %}
  Has your employee told you about their health condition? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">

      <a href="com-q1" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      {{ govukRadios({
        idPrefix: "knowWhatIllnessA",
        name: "knowWhatIllnessA",
        fieldset: {
          legend: {
            text: "Has your employee told you about their health condition?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Your employee does not have to tell you, but you’re allowed to ask. Knowing about the condition can help you support your employee to return to work when they’re ready."
        },
        items: [
          {
            value: "Yes",
            value: "Yes~/beta/sprint-4/prototype-A/establishing/est-q2",
            text: "Yes, my employee has told me",
            checked: data['knowWhatIllnessA'] === 'Yes'
          },
          {
            value: "No",
            text: "No, my employee has not told me",
            checked: data['knowWhatIllnessA'] === 'No'
          },
          {
            value: "No",
            text: "I have not asked",
            checked: data['knowWhatIllnessA'] === 'No'
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
