{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your current situation? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="/beta/sprint-12/prototype-A/est-q5">

      <a href="com-q1" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your current situation?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employee-at-work-disability-or-health-condition" name="staQ1" type="radio" value="ongoingCondition">
                <label class="govuk-label govuk-radios__label" for="employee-at-work-disability-or-health-condition">
                  My employee is at work and has told me they have a disability or health condition
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employee-off-work" name="staQ1" type="radio" value="offWork">
                <label class="govuk-label govuk-radios__label" for="employee-off-work">
                  My employee has gone off work because of their disability or health condition
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="return-to-work" name="staQ1" type="radio" value="returnToWork">
                <label class="govuk-label govuk-radios__label" for="return-to-work">
                  My employee is off work because of their disability or health condition, and I want to start planning their return to work
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
