{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is your employee off work because of a disability or health condition? {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="sta-q2-routing">

      <a href="com-q1" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Is your employee off work because of a disability or health condition?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employee-off-work" name="staQ2" type="radio" value="offWork">
                <label class="govuk-label govuk-radios__label" for="employee-off-work">
                  Yes, they’re off work
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="employee-still-working" name="staQ2" type="radio" value="stillWorking">
                <label class="govuk-label govuk-radios__label" for="eemployee-still-working">
                  No, they’re still working
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
