{% extends "layouts/main.html" %}



{% block pageTitle %}
{% include "govuk-prototype-kit/includes/homepage-top.njk" %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

</div>
<div class="govuk-grid-column-full">

<br>


  <h2 class="govuk-heading-m">Usability testing prototype</h2>

  <p>This is the latest prototype created for <b>usability testing only.</b> <br><br>

    Developers can find the latest release in the 'Prototype for Developers' section.</p> 


  <a href="sandbox/usability-prototype/prototype-A/sta-4.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>



<br>
<br>





<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Prototype for Developers
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
 
        <h3 class="govuk-heading-m">
          Release 1 prototype</h3>

      

          <strong class="govuk-tag">
            Live service design
          </strong>
        
      <br>
      <br>
      


          <p class='govuk-body'>This prototype version was created in January 2024 and contains both an English and Welsh version.</p>



         
         
          <a href="release/release1/english/prototype-A/sta-4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
            Release 1 - English          </button></a>
      
<br>
          <a href="release/release1/welsh/prototype-A/sta-4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
            Release 1 - Welsh          </button></a>




            <br>
<br>
<br>
        <h3 class="govuk-heading-m">
          Release 2 prototype</h3>
        


          <p class='govuk-body'>This prototype version was created in January 2024 and contains both an English and Welsh version.</p>

          <p class="govuk-body">The release 2 prototype includes the following changes:</p>
<ul class="govuk-list govuk-list--bullet">
<li><b>Prepare for a conversation with your employee:</b> Updated link and content around link (English and Welsh). </li>

</ul>
<br>
<a href="release/release2/english/prototype-A/sta-4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
  Release 2 - English          </button></a>

<br>
<a href="release/release2/welsh/prototype-A/sta-4.html"><button type="submit" class="govuk-button" data-module="govuk-button">
  Release 2 - Welsh          </button></a>




              <br>
              <br>
                   

    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Experimental pages
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <table class="govuk-table">
        <thead class="govuk-table__head">
         <caption class="govuk-table__caption govuk-table__caption--m">Experimental pages</caption>

         <div class="govuk-warning-text">
           <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
           <strong class="govuk-warning-text__text">
             <span class="govuk-visually-hidden">Warning</span>
             Testing versions are not to be used for development
           </strong>
         </div>
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header" width="10%">Sprint</th>
           <th scope="col" class="govuk-table__header" width="12%">Date</th>
           <th scope="col" class="govuk-table__header" width="53%">Information</th>
           <th scope="col" class="govuk-table__header" width="15%">Page links</th>
         </tr>
       </thead>
       <tbody class="govuk-table__body">
 
       </tr>
 
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Testing</th>
         <td class="govuk-table__cell">May 2024</td>
         <td class="govuk-table__cell">Summary page updates based on Team Canary usability testing findings. The original summary page can be found <a href="beta/sprint-57/prototype-A/sum-6.html">here</a>.</td>
         <td class="govuk-table__cell"><a href="sandbox/summary-page-new1.html">Summary page v1</a></td>
       </tr>
       </tbody>

       <tbody class="govuk-table__body">
 
       </tr>


       <tbody class="govuk-table__body">
 
       </tr>
 
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Testing</th>
         <td class="govuk-table__cell">May 2024</td>
         <td class="govuk-table__cell">Summary page updates based on Team Canary usability testing findings. The original summary page can be found <a href="beta/sprint-57/prototype-A/sum-6.html">here</a>.</td>
         <td class="govuk-table__cell"><a href="sandbox/summary-page-new2.html">Summary page v2</a></td>
       </tr>
       </tbody>


       <tbody class="govuk-table__body">
 
       </tr>
 
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Testing</th>
         <td class="govuk-table__cell">May 2024</td>
         <td class="govuk-table__cell">Summary page updates based on Team Canary usability testing findings. The original summary page can be found <a href="beta/sprint-57/prototype-A/sum-6.html">here</a>.</td>
         <td class="govuk-table__cell"><a href="sandbox/summary-page-new3.html">Summary page v3</a></td>
       </tr>
       </tbody>

       <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Testing</th>
        <td class="govuk-table__cell">May 2024</td>
        <td class="govuk-table__cell">Summary page updates based on Team Canary usability testing findings. The original summary page can be found <a href="beta/sprint-57/prototype-A/sum-6.html">here</a>.</td>
        <td class="govuk-table__cell"><a href="sandbox/summary-page-final.html">Summary page final design</a></td>
      </tr>
      </tbody>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Testing</th>
        <td class="govuk-table__cell">May 2024</td>
        <td class="govuk-table__cell">Summary page updates based on Team Canary usability testing findings. The original summary page can be found <a href="beta/sprint-57/prototype-A/sum-6.html">here</a>.</td>
        <td class="govuk-table__cell"><a href="sandbox/summary-page-mvp.html">Summary page MVP design</a></td>
      </tr>
      </tbody>


       <tbody class="govuk-table__body">
 
       </tr>
 
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Release 8.0.0</th>
         <td class="govuk-table__cell">Jun 2024</td>
         <td class="govuk-table__cell">A new version of the SEHD 'Have you considered or put into practice these options?' question page.</td>
         <td class="govuk-table__cell"><a href="sandbox/adj-q6.html">Complex question pattern (our design)</a></td>
       </tr>
       </tbody>

       <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Release 8.0.0</th>
        <td class="govuk-table__cell">Jun 2024</td>
        <td class="govuk-table__cell">A new version of the SEHD 'Have you considered or put into practice these options?' question page.</td>
        <td class="govuk-table__cell"><a href="sandbox/adj-q6-new.html">Complex question pattern (MVP design)</a></td>
      </tr>
      </tbody>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Experimenting</th>
        <td class="govuk-table__cell">Oct 2024</td>
        <td class="govuk-table__cell">A complete redesign for how the SEHD service could look.</td>
        <td class="govuk-table__cell"><a href="sandbox/layout-change/prototype-A/sta-4.html">Start page</a></td>
      </tr>
      </tbody>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Design audit</th>
        <td class="govuk-table__cell">Oct 2024</td>
        <td class="govuk-table__cell">A new design for the SEHD service based on our design audit reccomendations.</td>
        <td class="govuk-table__cell"><a href="sandbox/design-audit/english/prototype-A/sta-4.html">Start page</a></td>
      </tr>
      </tbody>



 <!--  

       <tbody class="govuk-table__body">
 
       </tr>
 
       <tr class="govuk-table__row">
         <th scope="row" class="govuk-table__header">Testing</th>
         <td class="govuk-table__cell">May 2024</td>
         <td class="govuk-table__cell">A new version of SEHD based on user feedback and design audit findings.</td>
         <td class="govuk-table__cell"><a href="sandbox/usability-prototype/sta-4.html">Usability testing prototype</a></td>
       </tr>
       </tbody>

-->

       </table>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Prototype version history
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Beta</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="10%">Sprint</th>
            <th scope="col" class="govuk-table__header" width="12%">Date</th>
            <th scope="col" class="govuk-table__header" width="53%">Information</th>
            <th scope="col" class="govuk-table__header" width="15%">Links</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
  
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 7.0.0</th>
          <td class="govuk-table__cell">6 Oct 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 7.0.0</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-7-0-0/release-7-0-0-index.html">Release 7.0.0 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 57</th>
          <td class="govuk-table__cell">26 Sep 2023</td>
          <td class="govuk-table__cell"><strong>Summary page</strong> alternate</strong></td>
          <td class="govuk-table__cell"><a href="beta/sprint-57/sprint-57-index.html">Sprint 57 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 56</th>
          <td class="govuk-table__cell">1 Sep 2023</td>
          <td class="govuk-table__cell"><strong>Next section</strong> and <strong>captions second iteration</strong></td>
          <td class="govuk-table__cell"><a href="beta/sprint-56/sprint-56-index.html">Sprint 56 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 55</th>
          <td class="govuk-table__cell">16 Aug 2023</td>
          <td class="govuk-table__cell">Added in <strong>next section</strong> and <strong>captions</strong></td>
          <td class="govuk-table__cell"><a href="beta/sprint-55/sprint-55-index.html">Sprint 55 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 54</th>
          <td class="govuk-table__cell">27 Jul 2023</td>
          <td class="govuk-table__cell"><strong>Managing capability</strong> on and off work iteration 2</td>
          <td class="govuk-table__cell"><a href="beta/sprint-54/sprint-54-index.html">Sprint 54 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 53</th>
          <td class="govuk-table__cell">14 Jul 2023</td>
          <td class="govuk-table__cell"><strong>Finish and go to summary</strong> secondary buttons</td>
          <td class="govuk-table__cell"><a href="beta/sprint-53/sprint-53-index.html">Sprint 53 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 52</th>
          <td class="govuk-table__cell">6 Jul 2023</td>
          <td class="govuk-table__cell"><strong>Managing capability</strong> off work journey</td>
          <td class="govuk-table__cell"><a href="beta/sprint-52/sprint-52-index.html">Sprint 52 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 5.1.0</th>
          <td class="govuk-table__cell">4 Jul 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 5.1.0</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-5-1-0/release-5-1-0-index.html">Release 5.1.0 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 4.6.3</th>
          <td class="govuk-table__cell">4 Jul 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 4.6.3</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-4-6-3/release-4-6-3-index.html">Release 4.6.3 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 4.6.2</th>
          <td class="govuk-table__cell">4 Jul 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 4.6.2</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-4-6-2/release-4-6-2-index.html">Release 4.6.2 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 50</th>
          <td class="govuk-table__cell">9 Jun 2023</td>
          <td class="govuk-table__cell"><strong>Search results</strong> mock-ups</td>
          <td class="govuk-table__cell"><a href="beta/sprint-50/sprint-50-index.html">Sprint 50 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 47</th>
          <td class="govuk-table__cell">25 Mar 2023</td>
          <td class="govuk-table__cell"><strong>Warning text</strong> and <strong>policies and procedures</strong> content</td>
          <td class="govuk-table__cell"><a href="beta/sprint-47/sprint-47-index.html">Sprint 47 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 4.6.1</th>
          <td class="govuk-table__cell">18 Apr 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 4.6.1</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-4-6-1/release-4-6-1-index.html">Release 4.6.1 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 45</th>
          <td class="govuk-table__cell">21 Mar 2023</td>
          <td class="govuk-table__cell"><strong>Policies and Procedures</strong></td>
          <td class="govuk-table__cell"><a href="beta/sprint-45/sprint-45-index.html">Sprint 45 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sprint 43</th>
          <td class="govuk-table__cell">24 Feb 2023</td>
          <td class="govuk-table__cell"><strong>Inclusive recruitment and onboarding</strong></td>
          <td class="govuk-table__cell"><a href="beta/sprint-43/sprint-43-index.html">Sprint 43 index</a></td>
        </tr>
  
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Release 4.6.0</th>
          <td class="govuk-table__cell">Feb 2023</td>
          <td class="govuk-table__cell">Prototype in line with <strong>release 4.6.0</strong></td>
          <td class="govuk-table__cell"><a href="beta/release-4-6-0/release-4-6-0-index.html">Release 4.6.0 index</a></td>
        </tr>
  
      </tr>
  
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Release 4.5.2</th>
        <td class="govuk-table__cell">Feb 2023</td>
        <td class="govuk-table__cell">Prototype in line with <strong>release 4.5.2</strong></td>
        <td class="govuk-table__cell"><a href="beta/release-4-5-2/release-4-5-2-index.html">Release 4.5.2 index</a></td>
      </tr>
  
  
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 39</th>
            <td class="govuk-table__cell">16 Jan 2023</td>
            <td class="govuk-table__cell"><strong>Shortcuts</strong> to content and <strong>REA Checklist splitting</strong></td>
            <td class="govuk-table__cell"><a href="beta/sprint-39/sprint-39-index.html">Sprint 39 index</a></td>
          </tr>
  
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Release 4.5.1</th>
            <td class="govuk-table__cell">10 Jan 2023</td>
            <td class="govuk-table__cell">Prototype in line with <strong>release 4.5.1</strong></td>
            <td class="govuk-table__cell"><a href="beta/release-4-5-1/release-4-5-1-index.html">Release 4.5.1 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 34</th>
            <td class="govuk-table__cell">21 Oct 2022</td>
            <td class="govuk-table__cell"><strong>HSE</strong> signposting</td>
            <td class="govuk-table__cell"><a href="beta/sprint-34/sprint-34-index.html">Sprint 34 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Release 4.5.0</th>
            <td class="govuk-table__cell">21 Oct 2022</td>
            <td class="govuk-table__cell">Prototype in line with <strong>release 4.5.0</strong></td>
            <td class="govuk-table__cell"><a href="beta/release-4-5-0/release-4-5-0-index.html">Release 4.5.0 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 33</th>
            <td class="govuk-table__cell">5 Oct 2022</td>
            <td class="govuk-table__cell"><strong>Case studies implemented</strong> into prototype</td>
            <td class="govuk-table__cell"><a href="beta/sprint-33/sprint-33-index.html">Sprint 33 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 31</th>
            <td class="govuk-table__cell">12 Sep 2022</td>
            <td class="govuk-table__cell">Testing <strong>case studies</strong> inside the service</td>
            <td class="govuk-table__cell"><a href="beta/sprint-31/sprint-31-index.html">Sprint 31 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Release 4.4.0</th>
            <td class="govuk-table__cell">26 Aug 2022</td>
            <td class="govuk-table__cell">Prototype in line with <strong>release 4.4.0</strong></td>
            <td class="govuk-table__cell"><a href="beta/release-4-4-0/release-4-4-0-index.html">Release 4.4.0 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 27</th>
            <td class="govuk-table__cell">8 Jul 2022</td>
            <td class="govuk-table__cell">Testing <strong>case studies</strong></td>
            <td class="govuk-table__cell"><a href="beta/sprint-27/sprint-27-index.html">Sprint 27 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Release 4.2.0</th>
            <td class="govuk-table__cell">17 Jun 2022</td>
            <td class="govuk-table__cell">Prototype in line with <strong>release 4.2.0</strong></td>
            <td class="govuk-table__cell"><a href="beta/release-4-2-0/release-4-2-0-index.html">Release 4.2.0 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 21</th>
            <td class="govuk-table__cell">9 May 2022</td>
            <td class="govuk-table__cell">Testing content on four most changed pages</td>
            <td class="govuk-table__cell"><a href="beta/sprint-21/sprint-21-index.html">Sprint 21 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 19</th>
            <td class="govuk-table__cell">21 Mar 2022</td>
            <td class="govuk-table__cell">New UR, testing live service <strong>release v2.0.0</strong></td>
            <td class="govuk-table__cell"><a href="beta/sprint-19/sprint-19-index.html">Sprint 19 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 12</th>
            <td class="govuk-table__cell">29 Nov 2021</td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="beta/sprint-12/sprint-12-index.html">Sprint 12 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 10</th>
            <td class="govuk-table__cell">29 Oct 2021</td>
            <td class="govuk-table__cell">Second iteration of private beta iterations.</td>
            <td class="govuk-table__cell"><a href="beta/sprint-10/sprint-10-index.html">Sprint 10 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 9</th>
            <td class="govuk-table__cell">14 Oct 2021</td>
            <td class="govuk-table__cell">First iteration of private beta iterations.</td>
            <td class="govuk-table__cell"><a href="beta/sprint-9/sprint-9-index.html">Sprint 9 index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 6</th>
            <td class="govuk-table__cell">#</td>
            <td class="govuk-table__cell">Final <strong>MVP version</strong> of service</td>
            <td class="govuk-table__cell"><a href="beta/mvp/mvp-journey/mvp-index.html">MVP index</a></td>
          </tr>
    
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 5</th>
            <td class="govuk-table__cell">19 Aug 2021</td>
            <td class="govuk-table__cell">Disclose condition and ready to return scenarios and COM pages content</td>
            <td class="govuk-table__cell"><a href="beta/sprint-5/sprint-5-index">Sprint 5 index</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 4</th>
            <td class="govuk-table__cell">5 Aug 2021</td>
            <td class="govuk-table__cell">Start page, triage page, summary pages, return to work segment, service name</td>
            <td class="govuk-table__cell"><a href="beta/sprint-4/sprint-4-index">Sprint 4 index</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 3</th>
            <td class="govuk-table__cell">8 Jul 2021</td>
            <td class="govuk-table__cell">RET stage and condition specific content</td>
            <td class="govuk-table__cell"><a href="beta/sprint-3/sprint-3-index">Sprint 3 index</a> </td>
          </tr>
        </tbody>
      </table>
    
      <!-- Alpha iterations -->
    
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Alpha</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="10%">Sprint</th>
            <th scope="col" class="govuk-table__header" width="15%">Date</th>
            <th scope="col" class="govuk-table__header" width="50%">Information</th>
            <th scope="col" class="govuk-table__header" width="15%">Links</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sprint 5</th>
            <td class="govuk-table__cell">11 May 2021</td>
            <td class="govuk-table__cell">Drip feed vs Results at end, dicloses condition & checklists</td>
            <td class="govuk-table__cell"><a href="/alpha/sprint-5/gone-off-work/prototype-A/start-now">A</a> <a href="alpha/sprint-5/gone-off-work/prototype-B/start-now">B</a> <a href="alpha/sprint-5/disclose-condition/prototype-C/start-now">C</a> <a href="alpha/sprint-5/disclose-condition/prototype-D/start-now">D</a></td>
          </tr>
        </tbody>
      </table>
    
    
    
       <!-- Feature tests -->
    
   
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Feature tests</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" width="10%">Sprint</th>
            <th scope="col" class="govuk-table__header" width="15%">Date</th>
            <th scope="col" class="govuk-table__header" width="50%">Information</th>
            <th scope="col" class="govuk-table__header" width="15%">Links</th>
    
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">N/A</th>
            <td class="govuk-table__cell">29 Jun 2021</td>
            <td class="govuk-table__cell">Amount of days off sick test pages</td>
            <td class="govuk-table__cell"><a href="test/date-test">Link</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>









  

<br>
<br>
<br>
    <!-- Beta iterations -->
  
  


    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
    
  </div>

</div>

{% endblock %}
