{% extends "layouts/main.html" %}

{% block pageTitle %}
Discussing changes at work {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="" onclick="window.history.go(-1); return false;" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Discussing changes at work</h1>

      <p class="govuk-body-l">Identify all the possible areas where changes at work could help your employee. You should refer to any policies you have in place. Both temporary and permanent changes could support them. Consider and agree on each change together with your employee.</p>

      <br />
      <h2 class="govuk-heading-m">Ways of working</h2>
      <p class="govuk-body">Changes to hours, shift patterns or other policies can help your employee do their best at work.</p>
      <p class="govuk-hint"><strong>Example:</strong> <em>if depression can make it difficult for someone to start their day, allow them to come in later.</em></p>
      <p class="govuk-hint"><strong>Example:</strong> <em>for someone with migraines, more regular screen breaks might help.</em></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Read how a gym owner supported a member of staff with a temporary mental health condition.
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">An employee was verbally attacked by a customer at the gym they work at.</p>

          <p class="govuk-body">Following the attack they:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>felt nervous about coming in for shifts</li>
            <li>were not as welcoming or chatty to customers and colleagues noticed this change in their behaviour</li>
            <li>didn't feel comfortable leading exercise classes alone</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>
          
          <p class="govuk-body">The employer researches mental health awareness courses for the company to attend. This would help staff and customers.</p>
          
          <p class="govuk-body">The employer suggests:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the employee takes a short break from customer-facing tasks</li>
            <li>all staff work in pairs when opening and locking up the gym</li>
            <li>all exercise classes have a buddy spectator</li>
          </ul>

          <p class="govuk-body">The employee was worried they could not afford the cut in salary if they stopped leading classes completely.</p>

          <p class="govuk-body">They agree to meet in a couple of weeks following the changes to discuss how the employee is managing their anxiety.</p>
          
          <h3 class="govuk-heading-s">What happened next</h3>
          
          <p class="govuk-body">The employee now feels comfortable observing classes and agrees to try leading a session in a couple of weeks. This minimises the employee's anxiety around their finances too. They're also working with a buddy on the front desk one shift per week for a trial period.</p>
          
          <h3 class="govuk-heading-s">What's happening now</h3>
          
          <p class="govuk-body">They now have regular meetings to talk about any issues and to agree on any changes needed.</p>

        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Find out how a shop owner supported their employee to manage menopause in the workplace.
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">An employee experiencing menopause works in a busy shop. </p>

          <h3 class="govuk-heading-s">They find it:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>difficult to concentrate in the noisy and busy environment</li>
            <li>uncomfortable and embarrassing during a hot flush</li>
            <li>increases their anxiety when dealing with customers</li>
            <li>upsetting when forgetting stock and pricing changes</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">The manager notices the change in the employee. They ask for a meeting. They discuss how symptoms are affecting the employees role and what options are available to help manage the symptoms at work. They agree to meet again in a week.</p>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">It's agreed that:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>for a trial period, a colleague will cover customer-facing duties when the employee needs to freshen up or take a quick break</li>
            <li>the manager will research menopause to get a greater understanding and knowledge</li>
          </ul>

          <h3 class="govuk-heading-s">What's happening now</h3>

          <p class="govuk-body">The employee and manager have regular catchups. They discuss how the employee is managing the menopause and if the temporary changes are helping.</p>

         </div>
      </details>

      <br />
        <hr />
   <br />
      <h2 class="govuk-heading-m">Work environment</h2>
      <p class="govuk-body">This might include things like desk space, equipment and noise levels. These changes can make the work environment less challenging.</p>
      <p class="govuk-hint"><strong>Example:</strong> <em>a place to work away from distractions can help someone who is feeling overwhelmed by stress.</em></p>
      <p class="govuk-hint"><strong>Example:</strong> <em>someone who uses mobility aids might need an accessible parking space.</em></p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Read how an employer supported their employee with a temporary health condition whilst working from home.
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">An employee was suffering from a bad back for over a month. </p>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">During a meeting with their employer, they mentioned that they found a new, stylish, top-of-the-range chair online. They asked for it to be expensed by the company as they could not afford the chair themselves. </p>

          <p class="govuk-body">The employer couldn't afford the cost and wasn't sure that it met the requirements. They were also worried that everyone else in the company would want a new chair.</p>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">Both met to discuss what the employee had already tried - a back support, a different chair, stretching, have they seen a doctor or physiotherapist?</p>

          <p class="govuk-body">It was agreed that the employee:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>would carry out a desk assessment at home</li>
            <li>needed a new chair that would suit their needs but was within the company allocated budget allowance</li>
          </ul>

          <p class="govuk-body">They met a month later to check if the condition had improved with the new chair.</p>

          <p class="govuk-body">The employer asked the employee if they could let the rest of the staff know about their medical condition should anyone else ask for a new chair. The employee gave their consent.</p>

        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Check how an employer supported their deaf employee to make sure the working environment was suitable.
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">A deaf employee is finding it difficult to concentrate in the open-plan office.</p>

          <h3 class="govuk-heading-s">They find it:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>distracting on video calls</li>
            <li>difficult fitting in an interpreter next to them when needed into the limited space between the desk areas</li>
            <li>awkward as it draws attention to their disability</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">The employer was worried about their legal obligations. </p>

          <p class="govuk-body">They check workplace policies and research further before having a conversation with the employee.</p>

          <p class="govuk-body">The employer suggests moving to a quieter area for a trial period. </p>

          <p class="govuk-body">It was less distracting, but the employee:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>felt separated from their team</li>
            <li>missed out on team discussions</li>
            <li>wasted going to and from their team area</li>
            <li>felt awkward and that it was unfair they had been separated</li>
          </ul>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">Next, it was agreed that a partition screen is added for a trial period. This gave more privacy and fewer distractions. There is still not enough space for the interpreter when needed.</p>

          <p class="govuk-body">The employer decided to swap the team areas around so the employee was in a quieter space with more room for extra seats near their desk when needed.</p>

          <h3 class="govuk-heading-s">What's happening now</h3>

          <p class="govuk-body">They meet fortnightly to check on the situation and if the new team location is working for everyone.</p>

        </div>
      </details>


      <br />
        <hr />

    <br />
   <h2 class="govuk-heading-m">Extra help</h2>
   <p class="govuk-body">It might help your employee to have someone to help with parts of their job or how they access work.</p>
   <p class="govuk-hint"><strong>Example:</strong> <em>if your employee is returning to work, a buddy system could help them feel supported.</em></p>
   <p class="govuk-hint"><strong>Example:</strong> <em>for someone with temporary hearing loss, give their phone responsibilities to someone else.</em></p>
   <br />
     <hr />
  <br />
 
<p class="govuk-body">You should review any changes you make regularly. These are sometimes temporary as health conditions can change over time.</p>

      <br>

      
    </div>
  </div>

{% endblock %}
