{% extends "layouts/main.html" %}

{% block pageTitle %}
Case studies: how to support your employee with their health condition or disability {{ data['pageTitleAddOn'] }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="/beta/sprint-31/sprint-31-index" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-xl">Case studies: how to support your employee with their health condition or disability</h1>

      <p class="govuk-body">Temporary and permanent changes in the workplace could help support your employee. </p>

      <p class="govuk-body">These case studies show how employers supported employees to manage their health condition or disability.</p>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click" data-gem-track-click-module-started="true">
  <h2 class="gem-c-contents-list__title">
    Contents
</h2>
  <ol class="gem-c-contents-list__list">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/access-to-work/eligibility" data-track-options="{&quot;dimension29&quot;:&quot;Eligibility&quot;}" href="#cs1">Gym employee with a temporary mental health condition</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/access-to-work/apply" data-track-options="{&quot;dimension29&quot;:&quot;Apply for an Access to Work grant&quot;}" href="#cs2">Employee managing menopause in the workplace</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/access-to-work/after-you-apply" data-track-options="{&quot;dimension29&quot;:&quot;After you apply for the grant&quot;}" href="#cs3">Home working employee with a temporary health condition</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/access-to-work/claiming-from-your-grant" data-track-options="{&quot;dimension29&quot;:&quot;Claiming money from your grant&quot;}" href="#cs4">Office based employee with permanent deafness</a>
  </ol>
</nav>
    </aside>


      <br />
      <h2 class="govuk-heading-m" id="cs1">Gym employee with a temporary mental health condition</h2>
     
          <p class="govuk-body">An employee was verbally attacked by a customer at the gym they work at.</p>

          <p class="govuk-body">Following the attack they:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>felt nervous about coming in for shifts</li>
            <li>were not as welcoming or chatty to customers and colleagues noticed this change in their behaviour</li>
            <li>didn't feel comfortable leading exercise classes alone</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>
          
          <p class="govuk-body">The employer researches mental health awareness courses for the company to attend. This would help staff and customers.</p>
          
          <p class="govuk-body">The employer suggests:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the employee takes a short break from customer-facing tasks</li>
            <li>all staff work in pairs when opening and locking up the gym</li>
            <li>all exercise classes have a buddy spectator</li>
          </ul>

          <p class="govuk-body">The employee was worried they could not afford the cut in salary if they stopped leading classes completely.</p>

          <p class="govuk-body">They agree to meet in a couple of weeks following the changes to discuss how the employee is managing their anxiety.</p>
          
          <h3 class="govuk-heading-s">What happened next</h3>
          
          <p class="govuk-body">The employee now feels comfortable observing classes and agrees to try leading a session in a couple of weeks. This minimises the employee's anxiety around their finances too. They're also working with a buddy on the front desk one shift per week for a trial period.</p>
          
          <h3 class="govuk-heading-s">What's happening now</h3>
          
          <p class="govuk-body">They now have regular meetings to talk about any issues and to agree on any changes needed.</p>

<br />
<hr />
<br />

          <h2 class="govuk-heading-m" id="cs2">Employee managing menopause in the workplace</h2>

          <p class="govuk-body">An employee experiencing menopause works in a busy shop. </p>

          <h3 class="govuk-heading-s">They find it:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>difficult to concentrate in the noisy and busy environment</li>
            <li>uncomfortable and embarrassing during a hot flush</li>
            <li>increases their anxiety when dealing with customers</li>
            <li>upsetting when forgetting stock and pricing changes</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">The manager notices the change in the employee. They ask for a meeting. They discuss how symptoms are affecting the employees role and what options are available to help manage the symptoms at work. They agree to meet again in a week.</p>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">It's agreed that:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>for a trial period, a colleague will cover customer-facing duties when the employee needs to freshen up or take a quick break</li>
            <li>the manager will research menopause to get a greater understanding and knowledge</li>
          </ul>

          <h3 class="govuk-heading-s">What's happening now</h3>

          <p class="govuk-body">The employee and manager have regular catchups. They discuss how the employee is managing the menopause and if the temporary changes are helping.</p>

      <br />
        <hr />
   <br />

      <h2 class="govuk-heading-m" id="cs3">Home working employee with a temporary health condition</h2>

          <p class="govuk-body">An employee was suffering from a bad back for over a month. </p>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">During a meeting with their employer, they mentioned that they found a new, stylish, top-of-the-range chair online. They asked for it to be expensed by the company as they could not afford the chair themselves. </p>

          <p class="govuk-body">The employer couldn't afford the cost and wasn't sure that it met the requirements. They were also worried that everyone else in the company would want a new chair.</p>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">Both met to discuss what the employee had already tried - a back support, a different chair, stretching, have they seen a doctor or physiotherapist?</p>

          <p class="govuk-body">It was agreed that the employee:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>would carry out a desk assessment at home</li>
            <li>needed a new chair that would suit their needs but was within the company allocated budget allowance</li>
          </ul>

          <p class="govuk-body">They met a month later to check if the condition had improved with the new chair.</p>

          <p class="govuk-body">The employer asked the employee if they could let the rest of the staff know about their medical condition should anyone else ask for a new chair. The employee gave their consent.</p>

          <br />
          <hr />
     <br />

     <h2 class="govuk-heading-m" id="cs4">Office based employee with permanent deafness</h2>

          <p class="govuk-body">A deaf employee is finding it difficult to concentrate in the open-plan office.</p>

          <h3 class="govuk-heading-s">They find it:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>distracting on video calls</li>
            <li>difficult fitting in an interpreter next to them when needed into the limited space between the desk areas</li>
            <li>awkward as it draws attention to their disability</li>
          </ul>

          <h3 class="govuk-heading-s">What happened first</h3>

          <p class="govuk-body">The employer was worried about their legal obligations. </p>

          <p class="govuk-body">They check workplace policies and research further before having a conversation with the employee.</p>

          <p class="govuk-body">The employer suggests moving to a quieter area for a trial period. </p>

          <p class="govuk-body">It was less distracting, but the employee:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>felt separated from their team</li>
            <li>missed out on team discussions</li>
            <li>wasted going to and from their team area</li>
            <li>felt awkward and that it was unfair they had been separated</li>
          </ul>

          <h3 class="govuk-heading-s">What happened next</h3>

          <p class="govuk-body">Next, it was agreed that a partition screen is added for a trial period. This gave more privacy and fewer distractions. There is still not enough space for the interpreter when needed.</p>

          <p class="govuk-body">The employer decided to swap the team areas around so the employee was in a quieter space with more room for extra seats near their desk when needed.</p>

          <h3 class="govuk-heading-s">What's happening now</h3>

          <p class="govuk-body">They meet fortnightly to check on the situation and if the new team location is working for everyone.</p>

      <br />
    <br />
      
    </div>
  </div>

{% endblock %}
