
{% extends "layouts/main.html" %}

{% block pageTitle %}
Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Home
      </h1>

      <p><a href="prototype-A/sta-4.html">Prototype A</a></p>

      <p><a href="prototype-B/sta-4.html">Prototype B</a></p>

      <p><a href="prototype-A/adj-g10.html">Updated 'Have regular meetings with your employee' page</a></p>

      </div>
  </div>

{% endblock %}
