{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}


{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set govukRebrand = true %}

{% block header %}
        {{ 
            govukHeader({
                homepageUrl: "/",
                serviceName: serviceName,
                rebrand: true,
                serviceUrl: "/",
                containerClasses: "govuk-width-container",
                useTudorCrown: true
            })
    }}
{% endblock %}

{% block footer %}



  {{ govukFooter({
    rebrand: true,
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}
